[2016-04-21 01:02] zachriggle opened #531 "Misleading Error Message when Architecture is Unavailable"
If you build with `UNICORN_ARCHS='x86'` and then attempt to create an ARM `Uc` object, the error message you get is: `exception str() failed`.

[code]

[2016-04-21 02:23] #528 closed

[2016-04-21 03:10] aquynh commented on #531
something is wrong in your code? here is what i get:

[code]

[2016-04-24 08:50] mrphrazer opened #532 "Coredump"
If something will be written into unmapped memory, qemu will crash.

Python bindings:
[code]

The same holds for the following C testcase:

[code]

Output
[code]

Valgrind output:

[code]

[2016-04-24 09:02] aquynh commented on #532
would you mind sending a PR to put your testcase under either `tests/regress` or `tests/unit`?

thanks

[2016-04-24 10:22] mrphrazer commented on #532
In response to https://github.com/unicorn-engine/unicorn/pull/533#issuecomment-213925857:

You are right, it is fixed now. My test version was from the day before yesterday. Thanks!

[2016-04-24 10:22] #532 closed

[2016-04-24 14:54] aquynh commented on #523
i just put your testcase into `tests/regress/`.

[2016-04-25 15:53] gdbinit opened #534 "RIP value failure inside UC_HOOK_MEM_UNMAPPED hook?"
The following piece of code appears to show a bug inside a unmapped memory events hook:

.text:00000000100002C0 48 89 4C 24 08                          mov     [rsp+arg_0], rcx
.text:00000000100002C5 48 83 EC 28                             sub     rsp, 28h
.text:00000000100002C9 48 8B 42 60                             mov     rax, [rdx+0x60]

The unmapped memory exception will be hit at 0x60 (sinc

[2016-04-25 16:54] aquynh commented on #534
is there any testcase to reproduce this issue? otherwise it is hard to say what is happening: the bug can be in Unicorn, or in your own code.

[2016-04-25 16:58] aquynh commented on #534
btw i think there are few samples in the source dealing with UC_HOOK_MEM_UNMAPPED, and none of them has this issue. this is why a testcase is needed for further examination.

[2016-04-25 17:32] gdbinit commented on #534
You have the test, case, that piece of code will reproduce the bug.
Just allocate a memory for those bytes, allocate a stack and set RSP and execute the code.
Add a hook for the unmapped memory and retrieve RIP there. It should point to the first instruction instead of the third.

[2016-04-26 00:37] aquynh commented on #534
if you can put together a real testcase, and send a PR to put it under `tests/unit/`, i will debug and fix this issue right away. deal? :-)

[2016-04-26 00:50] aquynh commented on #508
so what is the conclusion? if you need to fix the core for this problem, please send a PR to do so.

thanks.

[2016-04-26 09:08] emdel commented on #508
I don't have any real, clean and working solution.
At the moment the best result is what I've explained here: https://github.com/unicorn-engine/unicorn/issues/508#issuecomment-212461572

In this way I can emulate up to 84k gadgets, but I always end up with the dynamic translator buffer issue. I can split the emulation in multiple runs (and it's what I will do), but this is just a workaround to con

[2016-04-27 09:36] SeanHeelan commented on #527
It seemed to be an issue with all scripts I tried, hence the lack of an example. However, it seems the VM I was testing on was running an outdated version and I can't recreate the problem with the latest master branch.

[2016-04-27 09:36] #527 closed

[2016-04-27 12:31] #442 closed

[2016-04-27 14:00] gdbinit opened #535 "malloc/free functions like for Unicorn memory?"
I guess this would be a feature request.
How about adding an API function that will be similar in functionality to malloc/free for Unicorn memory?
uc_mem_map demands a fixed address, so we must decided before where to allocate.
This means that if we want to emulate malloc inside emulation we need to write our own allocator outside to manage the memory to be mapped into the Unicorn emulation "machi

[2016-04-28 01:36] aquynh commented on #535
can you propose the API?

[2016-04-28 02:00] lunixbochs commented on #535
I think malloc/free are too high level to implement in Unicorn. I could see a mem_map that picks a free addr though.

[2016-04-28 02:06] cseagle commented on #535
"I could see a mem_map that picks a free addr though."

++ to this. Similar to passing NULL into mmap or VirtualAlloc. However in this case you might also want the ability to dictate a personality for such allocations, like a Linux, Windows, or BSD style address selection personality

[2016-04-28 14:10] gdbinit commented on #535
I guess that uc_mem_map_ptr  could be used with a small wrapper against malloc allocating the minimum 4kb pages required by Unicorn API.

This could be added into uc_mem_map via NULL address, or a new API that would allocate the memory using malloc and return the pointer to the caller.

It would avoid writing a whole new memory manager although a memory manager inside the Unicorn "vm" could be use

[2016-04-28 14:34] gdbinit opened #536 "Exposing instructions?"
How hard would it be to expose the current instruction that Unicorn is emulating?

For example I'm thinking about conditional jumps. Because Unicorn is emulating the instruction and contains full context it would be easy for it to expose if a given conditional instruction would lead follow or not.

It can be done using Capstone and Unicorn at the same time, and coding all the conditions inside a w

[2016-04-29 00:23] lunixbochs commented on #476
@zachriggle this is fixed in master by the no-thread merge right?

[2016-04-29 00:26] lunixbochs commented on #318
@farmdve can you run this test again using the `reg_read_batch` API from #506?

[2016-04-29 00:27] lunixbochs commented on #8
I'm satisfied by the performance and ability of #506 to handle weird register types, so I'm closing this.

[2016-04-29 00:27] #8 closed

[2016-04-29 00:29] lunixbochs commented on #170
closing in favor of #292 (because I think this is fixed by no-thread)

[2016-04-29 00:29] #170 closed

[2016-04-29 00:29] lunixbochs commented on #292
is this still a problem with no-thread? the iothread lock should be gone now

[2016-04-29 00:32] lunixbochs commented on #536
You can already get the current instruction - can you be more specific? If you add a `HOOK_CODE` callback or just `reg_read(IP)`, you can `mem_read()` the instruction pointer address to get the raw opcode, then use something like Capstone to recover more information about the instruction.

[2016-04-29 00:33] lunixbochs commented on #187
usercorn travis has been working for a while without resorting to gcc5 - closing this, thanks

[2016-04-29 00:33] #187 closed

[2016-04-29 00:37] lunixbochs commented on #377
The main issue here, the thing that "won't work", is Unicorn's interrupt/syscall handlers currently call the hook if it exists, but usually *does not attempt to invoke a real CPU interrupt handler*. This means a real kernel can't boot in Unicorn unless you monkeypatch interrupt handling back on yourself, which is a shame because the code is already there in QEMU :)

[2016-04-29 00:38] lunixbochs commented on #366
closing in favor of #461

[2016-04-29 00:38] #366 closed

[2016-04-29 00:39] lunixbochs commented on #409
This issue duplicates / adds information to #377

[2016-04-29 00:39] aquynh commented on #377
yes, this is nice to have. can you propose the API change for this?

[2016-04-29 00:44] lunixbochs commented on #377
I think all we need is a boolean return from instruction and interrupt hooks that indicates "this was handled". If an event is "handled", the chain stops and the CPU proceeds to the next instruction. If "not handled" propagates all the way to the top, the original behavior will occur, which could be a kernel interrupt handler or even Unicorn throwing an error.

This would just be something like:

[2016-04-29 00:50] gdbinit commented on #536
Capstone is just a disassembler, it has no context of what is going to happen with conditional instructions for example. Unicorn does have that information somewhere internally since it will emulate the instruction so it must know what's the next address to execute.
Makes no sense for everyone to write wrappers to do this for whatever arch they are working with if Unicorn can easily expose this ki

[2016-04-29 00:59] cseagle commented on #536
But you can just read eflags for example on x86 and observe whether a given conditional branch will be taken right? Are you looking for access to some deeper internal QEMU "I am about to branch" flag (assuming one exists)?

[2016-04-29 01:18] aquynh commented on #536
even though Unicorn already decoded the instructions internally when it does binary translation, the result is not really ready for consumption. so to do what you want, we need to include a disassembler in Unicorn source. i am not sure many people would agree with this. imo, it is better to keep Unicorn simple as it is now. what you want is actually trivial to implement with an external disassembl

[2016-04-29 09:38] gdbinit commented on #536
Hi Chris,

Yes, I can always look at eflags and do like in gdbinit, a huge decision tree about what's going to happen to what instruction. I was precisely trying to avoid that code since I assume Unicorn/QEMU already have that information somewhere inside, so I was wondering how hard would it be to expose it.
I'm buidling an EFI binaries emulator and also want to add interactive debugging features

[2016-04-30 22:09] farmdve commented on #318
This can be further improved by storing a static pointer to the env
pointer,  because calling X86_CPU() or ARM_CPU casts are quite expensive.
Removing those will further improve performance.
On Apr 29, 2016 03:26, "Ryan Hileman" <notifications@github.com> wrote:

[2016-05-02 13:49] gdbinit opened #537 "Hooks can only be added before uc_emu_start?"
Hi,

I was trying to add new hooks inside an existing UC_HOOK_CODE but it doesn't work at all, since the hook is ignored.

It seems hooks can only be added before uc_emu_start? Is this true?

What's the workaround? Need to stop and restart the emulation? Is that even possible inside the hook, since the hook is before instruction is executed (from what I can understand from other open issues).

Bas

[2016-05-02 14:31] aquynh commented on #537
new hooks can be added any time, and it should be OK to do that from inside a callback.

can you send a testcase for your issue?

[2016-05-02 14:54] gdbinit commented on #537
#include <stdio.h>
#include <unicorn/unicorn.h>

#define CODE "\x90\x90\x90"

#define ADDRESS 0x1000000

void
hook_code(uc_engine *uc, uint64_t address, uint32_t size, void *user_data)
{
 static int x = 0;
 if (x == 0)
 {
	printf("adding new hook\n");
        static uc_hook a;
	if (uc_hook_add(uc, &a, UC_HOOK_CODE, hook_code, NULL, address+2, address+3) != UC_ERR_OK)
	{
		printf("error on new hook

[2016-05-02 14:55] gdbinit commented on #537
The hook at 0x1000002 is set but never triggered.

[2016-05-02 14:57] aquynh commented on #537
this is not a full testcase in which it cannot compile.

would you mind sending a PR to put this into tests/regress/, or tests/unit/ (which requires you to modify it to be in cmocka form)?

[2016-05-02 14:59] gdbinit commented on #537
clang -o hook_fail hook_fail.c -I/usr/local/include -L/usr/local/lib -lunicorn

[2016-05-02 15:03] lunixbochs commented on #537
If you add a code hook to a new address during execution, the JIT cache needs to be flushed for the block containing the hook. This doesn't currently happen. What are you trying to do? I might be able to suggest a workaround until this is fixed.

[2016-05-02 15:08] gdbinit commented on #537
Yeah, I expected it to be a JIT cache issue from other open issues I read.

I'm trying to build an interactive debugger for the emulated code (I'm doing full EFI binary emulation).

Since a code hook is where I have control (a bit like INT3) I have a prompt to process debugger commands. I want to be able to step through code with gdb like step commands and set breakpoints in other addresses.

The

[2016-05-02 15:39] lunixbochs commented on #537
Adding a code hook to all instructions in the area is the easiest but slowest solution. Doing a uc_emu_stop() might be enough to register the hook (then set a flag in your code to immediately resume emulation after stop)

[2016-05-02 15:47] gdbinit commented on #537
How would that work? Putting a uc_emu_stop, and then a uc_emu_start inside the hook will crash Unicorn. From what I can see Unicorn will stop after executing the current instruction, but then I have no control over emulation. I guess I would have to sync current instruction with a loop after the first Unicorn start and resume there. That might work, but wouldn't that also be slow with JIT cache ha

[2016-05-02 15:54] lunixbochs commented on #537
It's just a trade-off on how many unhooked instructions you'd be executing. If you step over a huge subroutine, it should be significantly faster to trampoline than single step >1,000 instructions.

To trampoline:

1. inside your code hook, do a uc_emu_stop() and set a flag in your program. you can create new hooks at this point as well.
2. when uc_emu_start exits, check the flag and call uc_emu_s

[2016-05-02 15:57] gdbinit commented on #537
Just need to save the whole context since I assume uc_emu_start knows nothing about what was running before uc_emu_stop.

[2016-05-02 16:08] lunixbochs commented on #537
no, it remembers. you only need to know the new pc, which you can also reg_read.

[2016-05-03 15:12] mkravchik opened #538 "reg_read not working for SIMD registers on ARM"
Hi,
It looks that SIMD registers (UC_ARM_REG_D0 - UC_ARM_REG_D32) are not read by reg_read. They work correctly, but when I read them I always get 0. By working correctly I mean that if I read data into them using vld and them write it into memory using vsd the memory is updated as expected. Test attached. The expected result would be to see non-null values in the D6 and D7.

Has anyone encountere

[2016-05-03 15:19] aquynh commented on #538
can you send a PR to put your testcase in tests/regress/ ?

[2016-05-03 15:27] mkravchik commented on #538
Yes, where do I get this regress module from?

[2016-05-03 15:31] aquynh commented on #538
that comes with Python by default i think. if you can run any .py files there, you are already set.

[2016-05-03 15:54] mkravchik commented on #538
Done #539. Only vld.py file is relevant, the other one is from the closed issue. I just did not find a way to get rid of it (first experience with GitHub)

[2016-05-03 16:06] aquynh commented on #538
oh making PR is very simple. this is worth spending some little time, so you can follow below steps now:

- from inside your local git repo on your machine, pull the latest code of Unicorn, so your local copy has the latest code: `git pull` (be sure you are on "master" branch first)
- make a new branch named "vld" with `git checkout -b vld`
- now copy your testcase "vld.py" to `tests/regress/`
- p

[2016-05-03 19:33] mkravchik commented on #538
Thanks a lot for the detailed steps. I tried them and mostly succeeded, but the second file still got thru :-(

[2016-05-04 00:43] aquynh commented on #538
this is because you still works on a local repo that you already committed that "vmov.py" file. you can either clean your repo by removing that file, commit in your local repo, then pushing it to your Github fork. or whenever in doubt, fork a new Github and start on a fresh local repo with all the above steps.

[2016-05-04 00:46] aquynh commented on #538
the reason you dont get the right values for those registers is because they are not handled in arm_reg_read() function yet: https://github.com/unicorn-engine/unicorn/blob/master/qemu/target-arm/unicorn_arm.c#L47

this is easy to fix, so look forward to your next PR :-)

[2016-05-04 02:43] metal-crow opened #541 "uc_hook_add with UC_HOOK_INSN not working"
Like it sounds, when I open the [example](https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_x86.c) (via the visual studio MSVC project), and compile it, all code works, but any hook that uses UC_HOOK_INSN to hook on a specific instruction does not trigger.

Replacing the line with `uc_hook_add(uc, &trace1, UC_HOOK_BLOCK, hook_syscall, NULL, 1, 0);` generates the trigger fine, so

[2016-05-04 02:50] aquynh commented on #541
exactly which line do you mean?

[2016-05-04 02:53] metal-crow commented on #541
Any line that uses the `uc_hook_add` function with the `UC_HOOK_INSN` argument (see [here](https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_x86.c#L808) and [here](https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_x86.c#L642)). Replacing those (changing `UC_HOOK_INSN` to `UC_HOOK_BLOCK` and removing the type of instruction to hook on), results in the hook func

[2016-05-04 03:03] aquynh commented on #541
this is a bug, and should be fixed so you dont need workaround like that.

can you modify this line https://github.com/unicorn-engine/unicorn/blob/master/bindings/msvc/unicorn_dynload.c#L248 to:

    va_start(valist, end);

then compile again to see the problem is fixed?

[2016-05-04 03:09] metal-crow commented on #541
No, still didn't trigger the hook.

[2016-05-04 03:20] aquynh commented on #541
@xorstream, can you look at this issue with the MSVC binding?

i think the bug is there at that line with `va_start()` because we changed the API uc_hook_add() with this commit https://github.com/unicorn-engine/unicorn/commit/a7a1dcc66128801d1ef82e992a6cc4ff10fcce5d. but it seems there are still other issues to be fixed for UC_HOOK_INSN :-?

[2016-05-04 07:38] mkravchik commented on #538
Done, hopefully!

[2016-05-04 08:28] mkravchik commented on #538
Just tried again from a fresh branch to get rid of the conflict. Hope it will be OK and thanks for the guidance!

[2016-05-05 12:30] MatrixLing opened #544 "compile 32 bit target from osx 64 bit os"
I want to compile to 32 bit target libunicorn.dylib  from my osx 64 bits OS. I don't know how to compile it.
The command "./make.sh nix32" from the document is not correct.

[2016-05-05 13:36] MatrixLing commented on #482
@ThomasKing2014   I get both 32-bit and 64-bit library as your method. But in IDAPython, It has an error. Have you ever encountered this error. I'm not familiar with osx library, so I don't know how to solve it. Can you help me? Thanks.

Python>from unicorn import *
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/unicorn/__init__.

[2016-05-05 17:43] gdbinit opened #545 "Infinite loop inside a code hook"
Hi,

This simple hook in the sample Unicorn code at the website will infinite loop the hook and never advance EIP.

void
infinite_hook(uc_engine *uc, uint64_t address, uint32_t size, void *user_data)
{
    uint32_t r_eip = 0;
    uc_reg_read(uc, UC_X86_REG_EIP, &r_eip);
    uc_reg_write(uc, UC_X86_REG_EIP, &r_eip);
}

Add hook in the sample code:
    uc_hook trace;
    uc_hook_add(uc, &trace, UC_H

[2016-05-05 17:46] gdbinit opened #546 "Advancing EIP inside a hook skips all instructions"
Add this code hook in the Unicorn sample code at the website:

void
advance_rip_hook(uc_engine *uc, uint64_t address, uint32_t size, void *user_data)
{
    uint32_t r_eip = 0;
    uc_reg_read(uc, UC_X86_REG_EIP, &r_eip);
    printf("Current before advancing EIP: 0x%x\n", r_eip);
    r_eip += 1;
    uc_reg_write(uc, UC_X86_REG_EIP, &r_eip);
}

The result:
$ ./test1
Emulate i386 code
Current before

[2016-05-05 18:02] lunixbochs commented on #545
The code hook should give you EIP for the instruction (the same one passed in addr) instead of the next EIP. You should add size to actually advance it.

[2016-05-05 18:19] gdbinit commented on #545
That makes sense except that advancing doesn't seem to work (check next open issue).
It seems like setting to same EIP guarantees instruction execution but advancing to next will just skip the instruction but also not execute the next one.

So there seems to exist some inconsistent behavior here. Normal registers are updated but both EIP/EFLAGS appear to have inconsistencies if we modify them?

[2016-05-05 18:28] gdbinit commented on #546
I guess this happens because EIP will advance but the current instruction will never be executed, and when EIP advances the next instruction will trigger the hook before being executed, so in practice they have advanced on every iteration before they execute.

Just modified to test for that and it is indeed what happens:

void
advance_rip_hook(uc_engine *uc, uint64_t address, uint32_t size, void *

[2016-05-05 19:16] lunixbochs commented on #545
Everything here seems reasonable. The only problem looks to be in #546, where I'll comment further.

[2016-05-05 19:16] lunixbochs commented on #546
@farmdve's post-instruction hook might be the solution here #346

[2016-05-06 02:26] aquynh commented on #545
i think this happens when you modify the EIP to point to a new address in the same basic block, but if the EIP is far enough, you dont have this issue. can you confirm?

[2016-05-06 02:41] aquynh commented on #546
yes we should have the post-instruction hook, but the confusion raised by this issue still needs to be fixed.

[2016-05-08 09:35] farmdve commented on #546
The way QEMU jits some instructions prevents us from having post-instruction hooks without undefined behaviour.

[2016-05-08 23:51] eqv opened #547 "Building Go bindings fails"
[code]

[2016-05-09 00:19] #547 closed

[2016-05-10 13:37] xorstream commented on #541
The change to "va_start(valist, end)" does fix this problem.

@metal-crow please check that your exe file is loading an up to date version of unicorn.dll.
While testing I noticed that initially the fix didn't work for me, but it was due to an old version of unicorn.dll being loaded. The file "unicorn\bindings\msvc\readme.txt" should help you work out what unicorn.dll is being loaded by a project t

[2016-05-10 13:55] #541 closed

[2016-05-10 14:03] aquynh commented on #541
the fix from @xorstream was merged. please report if you still have this issue.

[2016-05-10 14:07] xorstream commented on #292
This appears to be fixed now.
I just ran the test "threaded_emu_start" that I had added back when I was having the issue, and it appears to complete successfully.

[2016-05-10 14:07] #292 closed

[2016-05-13 01:20] zachriggle opened #550 "Stack corruption on reg_write(UC_X86_REG_CS, 0x23)"
Both RBP and RSP and clearly some other registers are very corrupt when setting `cs`.

[code]

[code]

[code]

[2016-05-13 01:58] zachriggle commented on #550
I have attached a full `ltrace` from the crashing run: [trace.txt.gz](https://github.com/unicorn-engine/unicorn/files/262466/trace.txt.gz)

Note that it appears to work just fine for 64-bit.

[code]

[2016-05-13 02:07] aquynh commented on #550
this sounds  similar to the case with FS on Windows, in which you have to setup the segments first.

can you send a PR for this testcase?

[2016-05-13 02:18] zachriggle commented on #550
I think you're misunderstanding -- this is not the emulation crashing, but the emulator itself (`libunicorn.so`) is segfaulting on `uc_reg_write`.

The explanation about needing to set up a segment first doesn't make sense, as it works fine for 64-bit.

[2016-05-13 02:40] zachriggle commented on #550
Looks like the issue is related to `cpu_x86_load_seg` vs `X86_CPU`.  Why does i386 use one versus amd64 using the other?

[code]

[2016-05-16 13:22] 5lipper commented on #550
when segment registers are set to an invalid value, cpu_x86_load_seg will generate a GPF then it will do a longjmp. If this happens before or after an emulation, it will use an invalid jmpbuf. @zachriggle in your case, the jmpbuf is all zero, so the most registers are random value. you should setup a valid gdt/ldt before setting %cs.

[2016-05-16 17:17] zachriggle commented on #550
That's all well and good, but the emulation should not crash.
On Mon, May 16, 2016 at 6:23 AM 5lipper <notifications@github.com> wrote:

[2016-05-17 15:31] 5lipper opened #552 "flush tlb for multiple emulation"
Memory mapping operations (memory_map/memory_map_ptr/memory_unmap) flush tlb only when we are in a running state. If we map/unmap a page between two emulations, tlb is not flushed since `uc->current_cpu` is NULL.

[code]

This will cause a segfault in jitted code (write to unmapped memory).
Should we flush tlb at the beginning of each emulation?

[2016-05-17 15:51] aquynh commented on #552
yes it sounds right to me. can you send a PR?

thanks

[2016-05-17 16:33] 5lipper commented on #552
#553

[2016-05-21 13:46] lunixbochs opened #554 "rep movsb might not be triggering memory hooks"

[2016-05-21 13:50] lunixbochs commented on #554
nvm I'm just tired

[2016-05-21 13:50] #554 closed

[2016-05-21 17:54] coolandsmartrr opened #555 "AttributeError: dlsym - Symbol not found"
I've install nfcpy via pip, but am struggling to set it up. While running in the python shell, the following error comes up:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python2.7/site-packages/nfc/__init__.py", line 28, in <module>
        from clf import ContactlessFrontend
      File "/usr/local/lib/python2.7/site-packages/nfc/clf/

[2016-05-21 17:56] lunixbochs commented on #555
You should try installing a newer version of OpenSSL (maybe from homebrew), and also try posting issues on the right project. Unicorn is a CPU emulator and has basically nothing to do with NFC :)

[2016-05-25 01:35] aquynh commented on #538
fixed, thanks!

[2016-05-25 01:35] #538 closed

[2016-05-25 12:21] UnlimitedChild opened #556 "JWASM & MASM Assembler bindings"
Hallo,

How can I make a complete Include file, I tried to do from the files for Visual Studio. Unfortunately structures are not fully described, and if they are described, are scattered throughout the QEMU Include files. This makes the emulator incapacitated to work with assembler. Since this is a low-level code emulator, it would be cool to have the support of assembler compilers.

Regards

[2016-05-25 13:05] radare commented on #556
Wat

[2016-05-25 14:06] aquynh commented on #556
Do you mean you want to use assembler to compile assembly, the feed the output to Unicorn for emulation? Then that part does not belong to Unicorn, you have to compile assembly yourself

[2016-05-25 22:38] UnlimitedChild commented on #556
What is not clear? This code will not work, because of the above.

`option casemap:none

WINVER equ 0500h
WIN32_LEAN_AND_MEAN equ 1
OPTION PROLOGUE:rbpFramePrologue
OPTION EPILOGUE:rbpFrameEpilogue

.nolist
.nocref

include C:\masm32\jWasm\Include\WINDOWS.INC

include C:\masm32\2016Project\Template_\include\unicorn\x86.INC
include C:\masm32\2016Project\Template_\include\unicorn\unicorn.INC
;includ

[2016-05-25 22:54] radare commented on #556
Unicorn is not an assembler

[2016-05-26 01:25] lunixbochs commented on #556
I think you can treat all of the structures as opaque pointers except the x86 mmu ones.

[2016-05-26 13:49] UnlimitedChild commented on #556
Hallo,

Really? And I didn't know =D What are you talking about? This is nowhere stated o_O

Thank you, I also came to this conclusion. I spent a lot of time and tried to translate all the header files in the normal form. But still too many nested errors.

[2016-05-27 04:33] rhelmot opened #557 "Accessing x86 model-specific registers"
Is there a good way right now to access model-specific registers when emulating intel processors? Right now I'm manually executing the rdmsr and wrmsr instructions, and it's a bit of a hassle.

context: I'm [trying to set the fs base and gs base via their model specific registers](http://wiki.osdev.org/X86-64#Segmentation_in_Long_Mode)

[2016-05-27 12:56] lunixbochs commented on #557
https://github.com/lunixbochs/usercorn/blob/master/go/arch/x86_64/arch.go#L47

RunShellcode is a helper that maps in shellcode, saves registers, trampolines the emulator if it's running, restores registers, then unmaps the shellcode.

[2016-05-27 13:07] rhelmot commented on #557
Is there an implementation of this for the python bindings? I have no idea how to translate the go "deferred" stuff to python. Alternately, a way to access this value without actually executing code?

[2016-05-27 14:10] lunixbochs commented on #557
Nope, that's a helper I wrote for Usercorn (it's not in the Go bindings either). Defer just calls a function on return.

If Unicorn is running when you need to wrmsr, you additionally need to emu_stop() and wrap your emu_start() so it can call a "trampoline" function, then resume at the original PC.

RunShellcode just maps in shellcode, saves original register values, sets that register map, does

[2016-05-27 16:46] rhelmot commented on #557
Yes, I know. This issue was opened to address the absurdity of having to emulate code in order to read a register value, though. Thank you for your explanation in the meantime!

[2016-05-27 17:05] lunixbochs commented on #557
Oh, I thought I already opened an issue for this. We've definitely talked about it a couple of times in the comments.

Yeah. We should have some API path equivalent to WRMSR and RDMSR that doesn't require a trampoline.

[2016-05-27 18:35] rhelmot opened #558 "raise_exception_err segfaults on longjmp under python bindings"
Every time unicorn has segfaulted for me so far, the backtrace has started in `__longjmp` and come up to a call to `raise_exception_err`.

To reproduce:

[code]

Backtrace (gdb loses the ability to follow the backtrace once it segfaults, so you gotta set a breakpoint on longjmp itself):

[code]

[2016-05-27 21:22] rhelmot commented on #558
looks to be the same crash as #550, which I missed somehow. There's some sort of initialization bug or maybe a corruption bug that prevents the longjmp for exception handling from working correctly.

[2016-05-27 21:52] rhelmot commented on #558
unicorn's code architecture is a little bit labyrinthine for me to be definitive about this, but I'm pretty sure that the reason that this error results in everything crashing and burning is that one of the calls that gets used to do the write to fs, probably `cpu_x86_load_seg`, is intended to be used during actual execution - there's a really terrifying amount of taking struct pointers and making

[2016-05-28 23:54] lunixbochs opened #560 "memory mapping speed regression"
If I rapidly uc_mem_map / uc_mem_unmap, I hit a speed regression very quickly.

Here's a test case:

[code]

[2016-05-29 00:05] lunixbochs commented on #560
I've hooked Usercorn up to AFL but both methods of forkserver are causing me problems-

If I reuse a single Unicorn instance but remap its memory every run, I hit this regression within seconds.
If I use a new Unicorn instance every time, memory usage balloons out of control (talking like 1TB virtual memory) very quickly.

[2016-05-29 00:27] aquynh commented on #560
interesting, what can be the reason of this speed issue?

[2016-05-29 01:19] lunixbochs commented on #560
No idea. I did some basic debugging and didn't find it. I see a slow memory leak as well, not sure if it's related.

[2016-05-29 11:27] lunixbochs commented on #560
Also happens with `mem_map_ptr()`

[2016-05-29 11:41] lunixbochs commented on #560
Speed increases from ~500 to ~20000 maps per second and the speed regression seems to disappear (albeit with a leak) if I stub out memory_region_unref and delete all the mr->name stuff in memory_region_init

[2016-05-29 17:37] zachriggle commented on #558
This is a duplicate of #550

[2016-05-29 19:38] rhelmot commented on #558
Yeah, I figured that out. I was hoping this issue could stick around anyway, since it addresses the root problem (raising exceptions outside of the normal execution loop segfaults because code is playing fast and loose with typecasts) instead of a pretty shallow symptom (unicorn segfaults when you do invalid segment register writes).

[2016-05-31 00:30] aquynh commented on #560
Can Valgrind find this memleak?

Yes, Unicorn can be optimized to remove some dependency layers we dont really need. This is quite a lot of work however.

[2016-05-31 18:10] yformaggio opened #561 "fatal error: qemu-common.h: No such file or directory"
When I try to compile the master branch (commit  2fb420b991fd8a4e0cbaa2b92036c8ab6ee2f049) using `./make.sh`, here's what I get.

[code]

I found the incriminated file in the unicorn folder though:
[code]

Any clue on how to fix this problem?

[2016-05-31 18:23] yformaggio commented on #561
After removing the repo and clone it again, no more problem. Sorry for the useless issue opening...

[2016-05-31 18:23] #561 closed

[2016-06-01 13:19] anthraxx opened #562 "x86_64 test regression in git version (test_tb_x86_64_32_imul_Gv_Ev_Ib)"
Hi, I have noticed some test regressions in the latest git HEAD of unicorn (the last release passes fine).
Note 1: i have even reduced -O level to 2
Note 2: not sure if this also happens with gcc5, but: gcc (GCC) 6.1.1 20160501

[code]

[2016-06-01 13:24] anthraxx opened #563 "i686 test regression with latest git (test_last_page_map, test_high_address_reads, test_high_address_read_values)"
Hi, I have noticed that there are several test regressions when building the i686 version (note that the latest release still works fine).
Note 1: the -O flag has been reduced to 2
Note 2: gcc (GCC) 6.1.1 20160501

[code]

[2016-06-01 13:50] anthraxx commented on #562
So it looks like this test case was introduced for the bug report #364 and was not yet solved?

git bisect gave:

f0dac63b69736577785b29ff318d490f638e67a4 is the first bad commit
commit f0dac63b69736577785b29ff318d490f638e67a4
Author: steve <steve@steve.home>
Date:   Sat Jan 16 18:05:32 2016 -0500

    In response to issue #364, a unit test case has been created
    for exercising proper flushing

[2016-06-02 00:21] salls opened #564 "Memory leak in uc_open / uc_close"
I'm using the python bindings for unicorn. I noticed that when making `Uc` objects, memory wasn't being freed when the object was deleted / garbage collected.

Looking further, it seems like `uc_close` should be cleaning up the memory from `uc_open`. However, if I call them repeatedly in a loop I will quickly run out of memory.

[code]

[2016-06-02 00:27] aquynh commented on #564
Is this against latest Unicorn code from Github?

[2016-06-02 00:38] salls commented on #564
Yep

[2016-06-02 00:50] lunixbochs commented on #564
Previously discussed in the middle of #508.

[2016-06-02 19:58] neobrain opened #565 "Support registering IO register read/write handlers"
It seems to me that unicorn does not expose a way to expose "active" memory (i.e. MMIO), which triggers some sort of hardware action when being written to/read from. For instance, a game console emulator may want to recognize writes to a particular address as a rendering command to the console's GPU and then consequently trigger the GPU emulation code.

For best flexibility, I would propose unicor

[2016-06-02 20:48] lunixbochs commented on #565
Unicorn has a hook for "unmapped read".

[2016-06-02 20:58] neobrain commented on #565
@lunixbochs I'm aware of the unmapped read/write hooks, but there are one small and one large problem with them, as far as I can see anyway:
* for writes, it's not clear to me what the `uc_cb_eventmem_t` documentation means with "continue"ing. Would it resume execution, skipping the current instruction? Or instead, would it re-execute the current instruction, expecting the previously unmapped addr

[2016-06-04 11:55] DeveloppSoft opened #567 "[REQUEST] Pypy package?"
Hi unicorn community,
Would you consider releasing a pypy package like you did for capstone?
it might help a lot of python developper and it would be easier to include the framework (just us requirements.txt file).
Have a good day

[2016-06-05 04:44] aquynh commented on #567
Yes i have been planning that. Will do it when we have more stable code.

[2016-06-09 01:54] lunixbochs opened #570 "setting stack segment in syscall reinvokes syscall"
[code]

This will print `syscall` 3+ times and exit without running the nops. None of the other segment selectors have this problem.

`uc.reg_write(UC_X86_REG_SS, 2)` seems to be longjmp'ing back to the instruction, as `hook_intr` is repeatedly invoked without returning.

[2016-06-09 17:17] petmac opened #571 "ARM NEON/VFP support seems to exist but is disabled by default"
Hello,

Sorry if this is a known issue. I searched but didn’t notice it.

I’m trying to emulate an ARM processor with NEON (Cortex-A9). Emulation of the “vpush” instruction failed so I started investigating why.

According to the processor technical reference manual, in order to access VFP and NEON registers, both cp10 and cp11 of CPACR have to be enabled:

http://infocenter.arm.com/help/index.jsp

[2016-06-10 00:39] aquynh commented on #571
can you send a testcase for this (put it under tests/regress/ or tests/unit/), so i can debug this problem?

thanks

[2016-06-10 06:49] petmac commented on #571
Thanks, I will do that.

I believe the reset state of the CPU is to have FP and VFP disabled, so I don't think it's a bug. It would be nice though to be able to enable them programmatically without having to run code to do it.

[2016-06-13 07:04] zachriggle opened #573 ""unicorn" package is not claimed on PyPI"
While I understand there is not currently a deployable package for `pip install unicorn`, currently this is open for registration and available for squatting.  I recommend that it gets registered quickly :-)

[2016-06-13 12:24] aquynh commented on #573
done, thanks!

[2016-06-13 18:43] Nmzik opened #574 "iOS compile issue"
When trying to compile Unicorn on Mac 10.11 i get this error:

[code]

Do i need to compile zlib for arm? Any fix?
Thanks

[2016-06-13 20:37] lunixbochs commented on #574
@aquynh zlib has a good license, we could consider vendoring it into the source

[2016-06-14 09:52] Nmzik commented on #574
I just manually copied this test code to Xcode and successfully compiled it.
[code]
It's working on iOS. That means it's a problem with "checking" in "configure".
Anyway, i still get many errors when it starts building, like ```
/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.3.sdk/usr/include/sys/cdefs.h:707:2: error:
      Unsupported architecture

[2016-06-14 10:19] NUko32 opened #575 "Emulation hangs at certain offsets"
Hello, I was using unicorn in a project and encountered a problem. I noticed that emulation hangs when the execution offset for an instruction reaches a quarter of pages (i.e. _0x1400_, _0x1800_, _0x1c00_ and _0x2000_).

I have done some testing and here's a simple snippet to reproduce.

[code]

I will explain the problem in more detail.

unicorn, as far as I have noticed, only allows emulation ma

[2016-06-14 10:24] radare commented on #574
why is zlib needed at all?

[2016-06-14 22:44] lunixbochs commented on #574
probably used to implement a crc instruction or something

[2016-06-15 07:22] radare commented on #574
There's no reason for unicorn to depend on zlib, i will send a pullreq removing this configure-time check and remove the includes because no function from zlib is called in any single file of the project

[2016-06-15 07:25] radare commented on #574
https://github.com/unicorn-engine/unicorn/pull/576 <https://github.com/unicorn-engine/unicorn/pull/576>

[2016-06-15 08:16] sparktrend opened #577 "code hook callback passes an invalid 'size' for invalid opcode (i.e. instruction 0xf1)"
First of all, I'd like to thank you guys' tremendous and consistent effort to get unicorn straightened. I know it requires a mountain of work. Much appreciated.

The code that doesn't work is:

https://gist.github.com/sparktrend/0d9dcf8c2b431b9fa77fcbb656e2a5d6

The output is below:

byte f1 size 4059165169
ERROR: Invalid instruction (UC_ERR_INSN_INVALID)

0xf1 is an invalid opcode according to in

[2016-06-15 09:16] aquynh commented on #577
Can you send a PR to put this testcase under tests/regress/ ?

[2016-06-15 09:44] aquynh commented on #574
i merged that PR, and zlib is no longer a dependency.

thanks.

[2016-06-15 14:01] sparktrend commented on #577
I forgot to do:
self.emu.reg_write(UC_X86_REG_EIP, self.entrypoint)

But it still generates the same output. So it's a bug.

[2016-06-15 14:28] sparktrend opened #578 "General Protection Fault (Int 13) followed by Double Fault (Int 8)"
Hi Folks,

For some of the troublesome instructions I have, #GP (int 13) followed by #DF (int8) is triggered. There is no way I can simply ignore these instructions and get the control back. See the sample code below.

https://gist.github.com/sparktrend/cf99ba6d6b024b3182865ea47afb6ed2

These instructions include:
    - ca (retf 0), cb (retf) -> #GP
    - cf (iretd)
    - d4 (aam 0) -> # DE (Divid

[2016-06-15 15:23] lunixbochs commented on #578
Maybe reg_write(EIP) should trampoline the emulator if it's running? Then it's not hook-specific.

See also #546 and #512

[2016-06-15 15:37] aquynh commented on #575
this can be a bug, but your code is incomplete, so i cannot compile & reproduce.

can you send in a pull req to put this as a testcase under tests/unit/? (see some existing code there to make a proper form for it)

thanks

[2016-06-15 16:58] aquynh commented on #571
have you seen this issue yet? https://github.com/unicorn-engine/unicorn/issues/446

[2016-06-15 17:07] Nmzik commented on #574
Thank you, but it doesn't solve any of compiling issues for ARM iOS. I still get errors in "checking" like
[code]
I have no building issues when i compile for mac, so its only happens on iOS. As i said before when i compile test code(in file configure) in Xcode, it successfully compiles.Thats means unicorn sets incorrect path for iOS SDK and Libraries.

[2016-06-15 17:18] petmac commented on #571
Hi,

Sorry, no I didn't notice it. I actually do very similar though. Before I run user programs I run some code to enable FP and VFP.

Thanks for looking into it.

Peter

[2016-06-15 17:19] petmac commented on #571
I guess it would be nice to be able to set these registers without having to inject ARM/Thumb code to do it.

[2016-06-15 17:21] lunixbochs commented on #571
Yep, this comes up for me in x86 and mips as well. We definitely need an MSR API, which could just be special constants for reg_write() with an MSR prefix or something (no need to make a separate API function because it already uses opaque types)

[2016-06-15 17:28] NUko32 commented on #575
I have created the pull request #579  and added the hang test. I also tried with x86 and it doesn't seem to hang, so it may just be an ARM64 problem.

[2016-06-15 17:29] aquynh commented on #571
We can think about how to enable VFP without extra guest code, but for now
can you modify your testcase so it passes?

[2016-06-15 17:40] lunixbochs commented on #575
x86, x86_64, and arm are probably the most used targets
sparc and m68k are likely the most broken (and m68k doesn't have capstone/keystone support either iirc)

[2016-06-15 18:14] aquynh commented on #575
M68k is supported in the "next" branch of Capstone.
but M68k assembler for Keystone is not available yet.

[2016-06-15 18:15] aquynh commented on #575
arm64 should be in a great shape for both Capstone & Keystone.

[2016-06-16 00:34] sparktrend commented on #578
Could you elaborate on 'trampoline the emulator'? I don't understand what it means.

Thanks lunixbochs.

[2016-06-16 02:02] lunixbochs commented on #578
emu_stop(), emu_start(new_ip)

[2016-06-16 02:38] sparktrend commented on #578
Hmm.... I've got something interesting going on here. 'except' block in try-except wasn't called when #GP followed by #DF occurred. I didn't call emu_stop() in hook_int. So it appears emu_start() call simply returns when emulation can't continue any more instead of triggering UcError exception. Is that the desired behaviour?

[2016-06-16 05:47] lunixbochs commented on #578
If it faults after an interrupt that should probably be an error.

[2016-06-16 05:56] sparktrend commented on #578
Yes, but it doesn't trigger exception at the moment. I noticed several conditions that stop emulation automatically and transfers the control to the next line of **_emu_start_**().
1. Invalid opcode (try '\xf1')
2. Exception conditions not resolved apart from unmapped memory condition (this includes all exceptions I described in the table originally)
3. Directly call emu_stop().

So from unicorn u

[2016-06-16 17:59] lunixbochs commented on #578
You can tell (3) simply by setting a flag in your program before calling emu_stop(). In Usercorn I actually track "stop reasons" so I can tell the difference between a debugger, a signal, etc

[2016-06-16 23:33] sparktrend commented on #578
It would be more structurally nicer to incorporate those exceptional cases in exception category rather than terminating the emulation. However, I shouldn't really complain about that given that this is an open source project.

Thanks heaps for replying to my questions, Lunixbochs! It really helped me digging further in.

[2016-06-16 23:33] #578 closed

[2016-06-17 02:20] aquynh commented on #578
yes the core should exit uc_emu_start() cleanly with an exception. patch to fix this is welcome.

[2016-06-17 09:08] esanfelix commented on #391
Hello,

Is there any progress on this issue? I have a similar case to @xorstream in which I am loading an ELF file into memory and taking the architecture to initialize a Unicorn object. I only know the address to emulate later on (from user-provided input) and would like to change at runtime without having to create a new unicorn instance each time, re-map memory segments, etc.

[2016-06-17 11:43] esanfelix commented on #391
By the way, I looked into how to implement this but I am not very familiar with Unicorn/qemu internals. For this case specifically (ARM vs THUMB) wouldn't it be better to just set the thumb mode based on the PC?

I've tried doing this in unicorn_arm.c:

[code]

Which basically masks off the last bit of the PC when it's being set, and sets thumb mode to whatever value the last bit of the requested

[2016-06-17 20:31] neobrain opened #581 "Invalid condition flag update for PC-relative loads on ARM"
The ARM instruction `LDR r0, [pc + 0x14]` should load a 32-bit value from a memory address determined by the program counter. This functionality is emulated well when emulating a program in unicorn, however in addition to the PC-relative load it seems that unicorn updates the Current Program Status Register (CPSR).

Here is a test case to illustrate the issue:
[code]

The output of this program on

[2016-06-17 20:39] neobrain opened #582 "Lower bits of CPSR values returned by `reg_read` imply invalid processor mode"
Reading the CPSR register on ARM returns invalid values. In particular, the lower bits seem to be read off as `0x1d3`, which indicates the processor mode (lowest 5 bits) of `0x3`, which is an invalid mode.

For a test case, consider the following program:
[code]
This program outputs a CPSR value of 0x800001d3 or 0x600001d3 for me, depending on the choice of `PUT_ZERO_OR_ONE_HERE`. In other words,

[2016-06-19 12:01] neobrain commented on #581
Turns out this issue is invalid.

As mentioned in https://github.com/unicorn-engine/unicorn/issues/358#issuecomment-169195978, `uc_emu.reg_write(UC_ARM_REG_CPSR, 0x10)` does not actually update the  CPSR value, hence it appeared to me as if the LDR instruction were setting the Z flag, when in fact the Z flag was never unset in the first place.

[2016-06-19 12:01] #581 closed

[2016-06-19 12:08] neobrain commented on #358
&nbsp;

@JCYang Any update on that patch? I just ran into this in a project of mine, and I'm not sure how to deal with this without being able to rely on `uc.reg_write`.

(also, this issue report has become somewhat convoluted - maybe we should create a new issue report about `uc.reg_write` not working for `UC_ARM_REG_CPSR`?)

[2016-06-19 23:27] neobrain commented on #571
The status of this issue seems a bit unclear to me.

@lunixbochs, have you gotten unicorn to successfully run VFP code? The test merged in #580 does not seem to work for me (throwing an `UC_ERR_FETCH_UNMAPPED` error), but from what was said here I'm not sure whether it's supposed to illustrate how to enable VFP or just to document that this feature does not work in unicorn yet. Have you gotten uni

[2016-06-20 03:56] aquynh commented on #571
that testcase passes for me.

even if we add a functionality of initializing VFP in the future, it is no harm to have a proper code to setup that like how the real code still does. other people can also learn from this testcase when they have similar issue.

[2016-06-20 08:10] petmac commented on #571
It looks like I made a mistake in that test case. I added more code to run, but I didn't update the ending address in the call to emu_start().

https://github.com/unicorn-engine/unicorn/pull/580/commits/d4f0ab7ba833433a96d04dc84d2807d969919334
The 0x1004 should probably be 0x1020?

I don't believe it should throw UC_ERR_FETCH_UNMAPPED, as I think the only memory access it does is to the stack, and

[2016-06-20 10:01] neobrain commented on #571
Thanks for your replies! Indeed, the issue with @petmac's test was on my end (messed up my install temporarily). I can confirm that 0x1004 should be replaced with 0x1020, however.

I also got my ARM code working successfully after fixing a bunch of typos. For reference, here is the final code that I run to enable VFP on the target:
[code]

[2016-06-20 19:26] aquynh commented on #571
please send new PR to fix what you found, thanks.

[2016-06-21 03:37] aquynh commented on #544
have you found out how to do this yet?

[2016-06-21 04:46] cseagle commented on #544
I think this was addressed in this comment:

https://github.com/unicorn-engine/unicorn/issues/482#issuecomment-201727015

I use this method to 32-bit unicorn libraries for use with Ida on OS X.

[2016-06-21 11:25] Proteas opened #584 "Need to refactor code for porting to iOS"
Thank you for this project.
The following is an advise.
-------------------------------------
Reason:
        on iOS, normal process can't have memory with PROT_READ | PROT_WRITE | PROT_EXEC.
        It should be RW- for writing by unicorn, or R-X for executing, managed by programmer.
        Currently in Unicorn, the RWX buffer is directly accessed by pointer, for example: tcg_ctx->code_gen_buffe

[2016-06-21 13:19] lunixbochs commented on #584
I'm pretty sure iOS has never allowed App Store apps to mark pages executable after writing to them- the only JIT allowed is for WebKit/JavaScript

[2016-06-21 13:53] Proteas commented on #584
I mean on jailbreaked iDevice.

[2016-06-21 14:27] lunixbochs commented on #584
isn't the JIT prevention still in the kernel, which as of ios9 doesn't get patched?

you can sign with the safari JIT entitlement but I think that just lets you allocate one rwx page on program start

[2016-06-21 14:54] neobrain commented on #565
@chriscz I don't want to map static memory, though - emulating IO registers properly requires a custom handler to be installable on memory access (to be able to make emulated hardware devices react appropriately to a particular read/write).

[2016-06-22 00:49] Proteas commented on #584
1. I have implemented this: map JIT.
2. Only one JIT buffer is not enough.

[2016-06-22 15:44] iN3O opened #585 "Python library not installed on linux"
I did

But it didn't copy the python library to the `/usr/lib/python2.7/dist-packages/` . I had to manually copy the folder to the directory and then it was working perfectly.

You guys should make changed to make.sh file to copy python binding folder also.

[2016-06-22 18:02] aquynh commented on #585
No, Python binding is installed separately from the core. You miss
following steps:

$ cd bindings/python
$ sudo make install

[2016-06-24 10:47] #584 closed

[2016-06-30 13:11] aquynh commented on #544
@cseagle, would you mind sending a PR from your fix?

[2016-07-03 16:37] petevine commented on #585
@aquynh That's exactly the point the OP was making. Any reason why the python bindings are packaged separately?

[2016-07-03 16:47] aquynh commented on #585
do you mean Python binding should be installed by default (with the core)? if so, then we need to install all the bindings by default?

[2016-07-03 17:02] petevine commented on #585
On Sun, 03 Jul 2016 09:47:35 -0700
Nguyen Anh Quynh <notifications@github.com> wrote:

IMHO, Python bindings should be installed by default - they also work in Pypy (via PYTHONPATH) and besides, according to a recent survey, Python has emerged as the dominant scripting language, leaving Ruby behind.

It wouldn't hurt to include the rest of the bindings in the default installation either, provided

[2016-07-03 20:01] s0ns0n commented on #228
I don't know if it's still relevant, but anyway:
uc.emu(eip, end, count=1)

[2016-07-04 22:12] danghvu commented on #421
https://github.com/unicorn-engine/unicorn/commit/9cdca5a32b52c028c6889ae42334cf53dd6b6cc2

This patch will raise an exception since the interrupt is not handled. Any comment ?

[2016-07-05 16:30] danghvu commented on #421
Fixed in latest commit to master.

[2016-07-05 16:30] #421 closed

[2016-07-09 15:14] danghvu commented on #258
This is fixed in the master branch, please confirm

[2016-07-09 15:16] danghvu commented on #508
`munmap(s->code_gen_buffer, s->code_gen_buffer_size);` is in the master branch. Can you check if you are still having issues ?

[2016-07-09 15:17] danghvu commented on #564
Which arch are you using ? If it is `x86/arm/arm64` can you check against the master branch ?

[2016-07-09 15:20] danghvu commented on #362
Can you check the master branch if this is still an issue ?

[2016-07-09 15:26] danghvu commented on #178
Close since in-active and issue seems resolved.

[2016-07-09 15:26] #178 closed

[2016-07-09 15:26] danghvu commented on #180
Close since in-active and issue seems resolved.

[2016-07-09 15:26] #180 closed

[2016-07-09 15:35] danghvu commented on #563
Can you check again the master branch ? I can't reproduce this.

[2016-07-09 15:40] #57 closed

[2016-07-09 15:42] #315 closed

[2016-07-09 15:50] #182 closed

[2016-07-09 18:27] danghvu commented on #582
I am not sure here, reading [this](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0311d/ch02s04s02.html):

Mode field:
b10000 = User mode
b10001 = FIQ mode
b10010 = IRQ mode
b10011 = Supervisor mode
b10111 = Abort mode
b11011 = Undefined mode
b11111 = System mode.

We report the mode bit as `0b10011` which is "supervisor" mode, not `invalid` -- maybe I am wrong, not an expert of Ar

[2016-07-09 18:41] danghvu commented on #570
There is an `0xd` after you perform the SS write. I suppose you need to handle it somehow, that is an interrupt which doesn't update the EIP.

[2016-07-09 18:42] neobrain commented on #582
@danghvu Uhm, you're right. I derped and missed that the lowest 5 bits of 0x1d3 are indeed 0b10011, which is supervisor mode as you said :)

[2016-07-09 18:42] #582 closed

[2016-07-09 20:12] danghvu commented on #560
There are some memory that are not free-ed during uc_mem_unmap but eventually is free-ed during `uc_close` .. I am trying to track these down.

[2016-07-09 20:14] lunixbochs commented on #560
this issue is more about the speed than the leak, though both matter when trying to use unicorn as an afl forkserver

[2016-07-09 20:16] danghvu commented on #578
The master branch should now raise an exception or return error if an interrupt is not handled, but handling the interrupt is still an issue, some interrupt doesn't advance the $PC$ automatically.

[2016-07-09 20:17] danghvu commented on #560
I'm more concerning the reduced in speed, which is due to memory leak so far as my investigation

[2016-07-09 22:41] danghvu commented on #585
I see no reason for giving privilege to python at the moment. I would prefer someone providing a package for python which allows `pip install unicorn` such that install both unicorn and python binding, similar to [capstone](https://pypi.python.org/pypi/capstone/3.0.4)

[2016-07-09 23:28] danghvu commented on #577
[code]

Can you test this patch ? @aquynh -- is this the right way to catch the magic number ?

[2016-07-10 01:57] aquynh commented on #577
that looks OK, but this trick may hide other issues, for example when the size is not updated due to other exceptions.

@sparktrend, can you send a PR to put your Gist script under tests/regress/?

[2016-07-10 01:58] aquynh commented on #585
yes, i dont think `make.sh` should only install the core, but not any bindings. finally, that is only 2 more simple commands, why users cannot do that?

[2016-07-10 02:24] aquynh commented on #571
problem solved, thanks!

[2016-07-10 02:24] #571 closed

[2016-07-10 02:30] aquynh commented on #556
close, thanks!

[2016-07-10 02:30] #556 closed

[2016-07-10 02:30] aquynh commented on #555
close, thanks!

[2016-07-10 02:30] #555 closed

[2016-07-10 02:31] aquynh commented on #531
close, thanks!

[2016-07-10 02:31] #531 closed

[2016-07-10 02:32] aquynh commented on #536
close, thanks!

[2016-07-10 02:32] #536 closed

[2016-07-10 02:48] aquynh commented on #585
Close, thanks

[2016-07-10 02:48] #585 closed

[2016-07-10 02:50] aquynh commented on #393
Close, thanks

[2016-07-10 02:50] #393 closed

[2016-07-10 02:51] #279 closed

[2016-07-10 02:52] aquynh commented on #181
I think this was solved, so closed, thanks

[2016-07-10 02:52] #181 closed

[2016-07-10 02:53] #90 closed

[2016-07-10 02:53] #210 closed

[2016-07-10 02:54] #224 closed

[2016-07-10 02:56] #371 closed

[2016-07-10 02:57] aquynh commented on #389
Solved, thanks.

[2016-07-10 02:57] #389 closed

[2016-07-10 02:59] aquynh commented on #412
Something like https://github.com/hugsy/cemu can make you happy.

[2016-07-10 03:00] #412 closed

[2016-07-10 03:02] aquynh commented on #476
Solved, thanks

[2016-07-10 03:02] #476 closed

[2016-07-10 03:04] #443 closed

[2016-07-10 03:05] #429 closed

[2016-07-10 20:00] cseagle opened #587 "6b9f17f2f7 breaks windows mingw build"
The problem seems to be the change to munmap in qemu/unicorm-common.h along with the requirement to include sys/mman.h in that file. This should be blocked inside an #ifndef _WIN32 but I have no idea what motivated the change from g_free(s->code_gen_buffer); to a call to munmap. On windows that might be a VirtualFree, but I have no idea where/how s->code_gen_buffer was originally allocated.

The o

[2016-07-10 20:17] danghvu commented on #587
I was patching this for memory leak in Linux:

See this: https://github.com/unicorn-engine/unicorn/blob/master/qemu/translate-all.c#L617

And: https://github.com/unicorn-engine/unicorn/blob/master/qemu/translate-all.c#L473

The default uses mmap and leaking in Linux, will submit a patch for non-mmap case.

[2016-07-11 15:31] danghvu commented on #587
Fixed in https://github.com/unicorn-engine/unicorn/commit/b9a10152f149871a9e1ea8116fe0833df7c23291

[2016-07-11 16:05] aquynh commented on #570
Ryan, this is a dilemma: your code causes a GPF, but your interrupt handler does not handle it. the question is: how does the emulation proceed after unhandled GPF? at the moment, EIP is not updated due to GPF, hence your problem.

[2016-07-11 16:28] cseagle commented on #587
I still had to add

#ifndef _WIN32
#endif

around the #include <sys/mman.h>
in qemu/unicorn_common.h

to get it to build. That file is not available on windows.

[2016-07-11 16:31] danghvu commented on #587
I see.. I missed that part, could you submit a patch for that ? Otherwise I will check that once I get a windows machine.

[2016-07-11 16:49] lunixbochs commented on #570
Related to #377 - if the handler doesn't return `true` to indicate the interrupt was handled properly by the hook, Unicorn should probably stop with an error.

[2016-07-11 17:02] aquynh commented on #570
this means we need to change the interrupt handler semantics.

anyway, is there any cases that interrupt handler can handle GPF? looks like we should always break emulation for this interrupt

[2016-07-11 19:55] #587 closed

[2016-07-15 06:14] aquynh commented on #482
just pushed a commit to build universal binaries on MacOS by default: https://github.com/unicorn-engine/unicorn/commit/eea0b2d520dd3d40f35fa887913066d6e413a5a2

thank you, @ThomasKing2014

[2016-07-15 06:16] aquynh commented on #544
@MatrixLing, i just pushed a commit to build universal binaries on MacOS by default: https://github.com/unicorn-engine/unicorn/commit/eea0b2d520dd3d40f35fa887913066d6e413a5a2

you just need to compile like usual `./make.sh`, without needing any extra option.

let me know if you still have issues, thanks.

[2016-07-15 06:16] #544 closed

[2016-07-15 08:41] aquynh commented on #544
this is actually not a good idea, as dependency must be in universal format as well. so i committed a fix to build native binaries by default. now to build universal binaries, you have to run `make.sh` with `macos-universal` option, like below.

    $ ./make.sh macos-universal

then install binaries as usual (example, with `sudo ./make.sh install`)

[2016-07-16 12:32] niklasb opened #589 "x86: Infinite hang when executing `fsqrt` on 80-bit float."
The following code reproduces what seems like an infinite hang at 100% CPU:

[code]

[2016-07-16 13:11] aquynh commented on #589
Can you send a pull req to put this testcase under tests/regress/ ?

Thanks

[2016-07-16 13:21] niklasb commented on #589
Done.

[2016-07-16 18:53] niklasb commented on #589
@robbje says that probably the culprit is an infinite loop at https://github.com/unicorn-engine/unicorn/blob/master/qemu/fpu/softfloat.c#L5369 So most likely a bug in QEMU, not Unicorn. How do you guys typically handle this?

[2016-07-16 19:00] robbje commented on #589
It's likely a qemu issue:

    $ gcc -o test test.c
Does not hang:

    $ ./test
hangs infinitely:

    $ qemu-x86_64 test

[code]

[2016-07-16 19:50] danghvu commented on #589
Which version of qemu in your run? It's worth to report upstream if this is their latest version.

[2016-07-16 20:43] robbje commented on #589
I tried against 2.6.0 (current release) and 2.6.50 (git). Both go into an infinite loop.

[2016-07-17 00:22] aquynh commented on #589
Please report this bug to Qemu. We will port their fix as soon as they do
it. This is a good approach as we need to sync with upstream later.

But if anybody can fix this independently, go ahead and send in pull req,
thanks.

[2016-07-17 08:40] robbje commented on #589
Thanks, I reported the bug to qemu:
https://bugs.launchpad.net/qemu/+bug/1603734

[2016-07-17 08:53] aquynh commented on #589
great, but do you think it is a good idea to report this to the mailing list of Qemu at the same time? i am not sure if a lot of people will get the report from launchpad, or if launchpad forwards this bug to their mailing list.

[2016-07-17 16:57] robbje commented on #589
Apparently launchpad forwards the bug to their qemu-devel ML:
http://lists.nongnu.org/archive/html/qemu-devel/2016-07/msg03623.html

[2016-07-17 18:07] aquynh commented on #589
Awesome, plz keep us updated, thanks.

[2016-07-18 17:06] petmac opened #591 "Calling emulated code back inside interrupt hook (ARM)"
Hello,

I’m writing an emulator that uses Unicorn to emulate an ARM CPU.

The code I’m emulating imports a bunch of OS libraries, which I implement in C++ by hooking UC_HOOK_INTR and writing a SVC instruction to the call site.

Inside the hook, I now need to call the ARM code back. I tried calling uc_emu_start from inside the interrupt hook, but I don’t think qemu supports this.

qemu: qemu_mutex_

[2016-07-18 17:40] danghvu commented on #591
Could you post a minimal code to reproduce ? If you can submit a PR to /regress even better.

My guess is you are using the same context for two different emulation. You can try create a separate one so they do not share internal threads. But IMO if you can re-arrange your program to avoid this is the best option.

[2016-07-18 17:59] lunixbochs commented on #591
You need to write a trampoline handler.

1. `emu_stop()` inside the interrupt hook.
2. When `emu_start()` returns, save the instruction pointer
3. Do a new `emu_start()` at the address you wanted to call.
4. Do a new `emu_start()` at the saved EIP

[2016-07-19 06:10] petmac commented on #591
Thank you both. A trampoline handler sounds like a good solution, so I'll try that.

[2016-07-20 11:11] esanfelix commented on #391
@aquynh any thoughts on this?

[2016-07-22 14:04] aquynh commented on #391
yes this sounds reasonable to me. anybody objects this move, that we should automatically change from ARM mode to Thumb mode at `uc_emu_start()` if PC address is odd?

[2016-07-22 14:26] petmac commented on #391
No real objections, but the user could specify Thumb mode with uc_open and then enter ARM mode accidentally with uc_emu_start.

[2016-07-22 14:30] aquynh commented on #391
yes, obviously if we choose to go with this, the actual mode will be adjusted when emulation start, so the mode specified at uc_open() time does not really matter.

[2016-07-22 14:44] xorstream commented on #391
Thumb and Arm are often intimately tied. And from what I recall thumb
universally uses a PC target with lowest bit set.

I do know that the current setup treats them as way too seperate, so
something is needed to easily handle the easy change between them. ( and
while you're at it possible leave provisions for jazzelle and other
extensions too?)

On Saturday, 23 July 2016, Nguyen Anh Quynh <notifi

[2016-07-24 09:54] aquynh commented on #391
@esanfelix, can you send in a PR to implement this?

[2016-07-25 04:33] esanfelix commented on #391
Done. I tested this and it seems ok, but I am not intimately familiar with Unicorn/Qemu internals so it might be good to perform additional tests...

[2016-07-28 20:31] samothtronicien opened #594 "X86 SHL32 Parity Flag not correctly calculated"
There is a bug with the SHL instruction that occurs when using CL as source operand.
The parity flag is not calculated correctly, in the example below, the flag is set to 0 whereas it should be set to 1.

The bug doesn't occured while using an immediate value.

I've sent a pull request with a file that test this bug in tests/regress.

[2016-07-31 01:45] samothtronicien opened #597 "X86 ENTER (nesting level >0) write @SP instead of @ESP (stack size attribute is 16?!)"
Non nested ENTER works fine, it's just the nested version that seems to have this issue.

[code]

I've added some tests on this instruction in **tests/unit/test_x86_shl_enter_leave.c**

[2016-08-01 07:32] geek-li opened #598 "recipe for target 'qemu/config-host.h-timestamp' failed"
when I compile the unicorn,drop this error info.how to solve this error?

![qq 20160801153310](https://cloud.githubusercontent.com/assets/5059057/17286636/6db9b112-57fd-11e6-8011-4ebcbf66a921.png)

[2016-08-01 08:09] aquynh commented on #598
you can always "make clean" and try again.

but apparently the error says you dont have MingW installed on your machine. are you cross-compiling to Windows?

[2016-08-01 08:26] geek-li commented on #598
yep.I wanna   cross-compiling  unicorn for windows

[2016-08-01 12:56] #598 closed

[2016-08-01 13:05] geek-li opened #599 "undefined reference to `__stack_chk_fail'"
when I compile the unicorn with mingw ,there is some  error:
![qq 20160801210406](https://cloud.githubusercontent.com/assets/5059057/17294823/a5c777be-582b-11e6-8133-99524ad71ea5.png)

[2016-08-01 13:36] samothtronicien commented on #599
Got the same issue when cross compiling in 64 bits with mingw.
I've fixed the issue by editing the makefile :

[2016-08-01 13:38] aquynh commented on #599
no, do not edit Makefile. can you try something like this?

    $ UNICORN_QEMU_FLAGS="--disable-stack-protector" ./make.sh

[2016-08-01 13:40] aquynh commented on #599
if this works, please consider sending a pull req to update `docs/COMPILE-*.md`, thanks.

[2016-08-03 02:09] blshkv opened #600 "java bindings does not respect DISTDIR variable"
[code]

[2016-08-05 11:29] argp opened #601 "OS X installation removes i386 architecture"
Steps to reproduce:

[code]

[2016-08-05 11:48] argp opened #602 "Mapping 0x100000000 from IDAPython fails (tested on OS X and Linux)"
The following works from normal Python:

[code]

Commenting in the IDAPython imports and running it from IDA I get:

[code]

It seems to be related to [this issue](https://github.com/unicorn-engine/unicorn/issues/523).

Any ideas?

[2016-08-07 22:29] argp commented on #601
Fixed, thanks.

[2016-08-07 22:29] #601 closed

[2016-08-08 03:48] starfleetcadet75 opened #603 "Python bindings cannot load library from /usr/lib64"
I have compiled Unicorn on my Debian system using Python 2.7 for the initial build and then used 3.5 for the Python bindings. Importing Unicorn then results in the message "ERROR: fail to load the dynamic library" which is caused by the bindings/python/unicorn/unicorn.py file. Looking through the file, it appears that it does not check for the library in /usr/lib64 which is where the makefile inst

[2016-08-08 11:29] argp commented on #602
[This patch](https://github.com/unicorn-engine/unicorn/pull/526/files) from [issue 526](https://github.com/unicorn-engine/unicorn/pull/526) seems to solve this bug for me.

I am leaving it open for the time being to do more testing.

[2016-08-10 04:08] geek-li opened #610 "windows error code 0x80000026， A long jump has been executed."
when I set fs register value by using msvc project,will  drop this error ,I didn't know what happened!
just  like this :

                        ` uint32_t value=0x7ffe;`
                        `uc_reg_write(uc,UC_X86_REG_FS,&value);`
===========================

[2016-08-10 04:32] geek-li commented on #610
and after some reversing work,I find some clues ,maybe own to cpu env is not initial properly.
and the call routines just like this:
cpu_x86_load_seg->helper_load_seg->raise_exception_err(env, EXCP0D_GPF, selector & 0xfffc);
uninitial env->cr[0]  raise the exception code executed:
![qq 20160810122610](https://cloud.githubusercontent.com/assets/5059057/17541862/480b03a8-5ef6-11e6-8c70-3808831ca58f.

[2016-08-10 04:34] geek-li commented on #610
@lunixbochs @aquynh

[2016-08-10 05:00] aquynh commented on #610
your setup is incomplete. see this sample code on how to setup GDT: https://github.com/unicorn-engine/unicorn/blob/master/tests/regress/x86_gdt.py

[2016-08-10 05:33] geek-li commented on #610
thx

[2016-08-10 06:08] geek-li commented on #610
@aquynh But there is no  UC_X86_REG_GDTR  register in  x86.h ,how  to  inital the GDTR in  msvc program?

[2016-08-10 07:13] geek-li commented on #610
sorry, my unicron  is not the newest,now

[2016-08-10 07:13] #610 closed

[2016-08-11 03:29] geek-li opened #611 "get a 80000026 error code when write value to fs register"
after I initiality the gdt ldt and then write value to fs  register ,there will be a read exeception happened
the following is the crash info:
================
Starting program: shellcode.exe
\[New Thread 9464.0x240c]
gdb: unknown target exception 0x80000026 at 0x74b4cb49

Program received signal ?, Unknown signal.
0x769907f0 in setjmp () from C:\Windows\syswow64\msvcrt.dll

======================

[2016-08-11 03:38] geek-li commented on #611
@aquynh @lunixbochs @WanderingGlitch @sashs @JonathonReinhart

[2016-08-11 03:47] #599 closed

[2016-08-11 06:45] geek-li commented on #611
@5lipper

[2016-08-11 12:12] geek-li commented on #611
The error was  fixed by after set the cr0 register.

[2016-08-11 15:20] aquynh commented on #603
fixed, thanks.

[2016-08-11 15:20] #603 closed

[2016-08-12 08:24] #611 closed

[2016-08-15 13:57] idl3r commented on #275
Not as simple as -m32 thanks to the qemu and static test programs.

Following env works on my Ubuntu 14.04 x64 (with all i386 libs installed):
export PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig
export CFLAGS=-m32
export LDFLAGS=-m32
export LDFLAGS_STATIC=-m32
export LIBRARY_PATH="/usr/lib/i386-linux-gnu"
export UNICORN_QEMU_FLAGS="--cpu=i386"

[2016-08-16 21:50] s0ns0n commented on #599
Unfortunately it didn't work for me, and I had to modify the makefile also...

[2016-08-17 12:37] horsicq opened #616 "UC_ERR_MAP Error"
uc_err err1=uc_mem_map(uc,0x0018D000,0x00006000,UC_PROT_ALL); // UC_ERR_OK
uc_err err2=uc_mem_map(uc,0x100000000,0x002c0000,UC_PROT_ALL); // UC_ERR_OK

But in reverse:

uc_err err1=uc_mem_map(uc,0x100000000,0x002c0000,UC_PROT_ALL); // UC_ERR_OK
uc_err err2=uc_mem_map(uc,0x0018D000,0x00006000,UC_PROT_ALL); // **UC_ERR_MAP**

Tested on Windows 7 x64

[2016-08-17 18:21] zachriggle commented on #573
You should also probably register `unicorn-engine` since the Keystone package name is `keystone-engine`.

[2016-08-18 09:37] aquynh commented on #275
fixed this by adding a new option **linux32**, by @idl3r. so you now can simply do this to cross-compile to Linux 32bit:

    $ ./make.sh linux32

the only dependency is the package **libglib2.0-dev** for i386, which is **libglib2.0-dev:i386** on Ubuntu.

get the latest Github code, and report if you still have issues, thanks.

[2016-08-18 09:37] #275 closed

[2016-08-19 05:23] aquynh commented on #616
can you send a testcase for this, to put that under tests/regress/?

[2016-08-19 13:29] horsicq commented on #616
Done.

[2016-08-19 13:56] aquynh commented on #573
i did, thanks!

[2016-08-19 13:56] #573 closed

[2016-08-20 04:11] kitling commented on #117
Any news? I'd like to more closely emulate my platform of choice (Raspberry Pi) by selecting the precice model of CPU it has. This isn't too important to my application though, I think.

I see that the cpu_model branch exists, however, it doesn't appear to be merged in, and is way behind master at this point. Is it because you never recieved the okay from some binding maintainers?

[2016-08-20 04:22] kitling commented on #565
@aquynh

Is there any intention of implementing an API for this, or is there a (preferrably easy) way to do this in the state that unicorn is currently in?

(I'd like to implement GPIO and similar for my project.)

[2016-08-20 05:04] aquynh commented on #565
Yes, can you post your proposal? If we all agree, then plz send pull req to
implement it, i will merge.

[2016-08-20 05:06] aquynh commented on #117
Let me look at that again to see how best to implement this. It is best if
we dont break any API.

[2016-08-21 01:20] nbsdx commented on #534
@aquynh This bug still exists on master, attached is a unit test with and example code.

[test_x86_rip_bug.c](https://github.com/unicorn-engine/unicorn/files/428616/test_x86_rip_bug.txt)

[2016-08-21 01:29] aquynh commented on #534
can you please send a pull request to put this under tests/unit/ directory?

[2016-08-21 01:37] nbsdx commented on #534
Submitted.

[2016-08-21 02:22] kitling commented on #565
Warning: I don't design APIs, so this may be dirty.

I propose another callback type or two that is almost identical to uc_cb_insn_in_t and uc_cb_insn_out_t, basicly replace port with address.

[code]
These would work exactly like uc_cb_insn_in_t and uc_cb_insn_out_t.

However, I feel that merging these two callback types would make sense, you can have a callback for each type of IO, not 2, for IO

[2016-08-21 03:09] kitling commented on #565
Alternatively, keeping the same callback above, but don't register hooks.

A new API function, idk, `uc_mem_map_active` or `uc_mem_map_device`:

[code]

The passed callback handles reads and writes to that region, user_data get's passed to the callback so that it can store data...

Shoot, I forgot a enum argument for the callback type, didn't I? Time to edit that...

[2016-08-21 03:18] nbsdx commented on #534
I'm kinda looking into this independently; it looks like it might be an issue with the mmu stuff in general.

I added the following debug statement in `helper_le_ld_name`, and it displayed the bugged EIP value.

[code]

Output:
[code]

[2016-08-21 04:51] nbsdx commented on #534
Sorry for the spam, but it appears that if you register a hook on UC_HOOK_CODE, then the address is correct when reading from the `{,R,E}IP` registers. In uc.c,  `helper_uc_tracecode`, which is only called when you have setup a code hook, the PC is updated.

Now, in qemu/cpu-exec.c, `cpu_tb_exec`, PC is updated after the instruction is executed. It's possible that this logic is incorrect.

Relativ

[2016-08-21 22:59] kitling commented on #565
Another alternative, we can redefine the semantics for the existing UC_HOOK_MEM_{READ,WRITE,FETCH}_UNMAPPED hooks. This modification could be as 'simple' as passing the `value` parameter by pointer instead of by value, like my earlier proposals involving uc_cb_active_mem_t.

This feels natural, but doesn't feel quite right to be only focusing this on unmapped read/write/fetch. Honestly, if this we

[2016-08-22 08:40] horsicq commented on #616
It' on 32bits Systems only because ram_addr_t in MemoryRegion is dword.

[2016-08-24 20:51] scraduff opened #626 "Jump to Protected Mode"
Hi there,

Not sure if I've missed it or not but jumping to protected mode isn't supported at the moment is it?
(either inside in the vm or with the api)

I'm trying to run a bootloader which tries to do all the jumps from 16 to 64 bit.

Cheers

[2016-08-24 23:56] aquynh commented on #626
Can you post your code?

[2016-08-26 09:38] mmyydd commented on #479
is there any solution yet ?

[2016-08-26 19:10] scraduff commented on #626
Sure but its nothing special

    from unicorn import *
    from unicorn.x86_const import *

    with open("boot", "rb") as f:
        img = f.read()

    u = Uc(UC_ARCH_X86, UC_MODE_16)
    u.mem_map(0, 65536)
    u.mem_write(0x7C00, img)
    u.reg_write(UC_X86_REG_ESP, 0x7C00 + len(img) + 512)

    def hook_intr(u, int_num, user_data):
        print "intr", int_num
        print chr(u.reg_read(U

[2016-08-26 19:18] lunixbochs commented on #626
UC_MODE_16 emulates a 16-bit Intel CPU. 16-bit Intel CPUs can't jump to long mode.

You probably need UC_MODE_64 and might need to run shellcode to transition to 16-bit real mode: https://www.quora.com/What-can-I-do-to-enter-from-protected-mode-to-real-mode-in-an-Intel-microprocessor

[2016-08-26 19:30] scraduff commented on #626
That makes sense, forgot you could do the jump back to real mode.

I'll try it out, cheers.

[2016-08-27 20:22] aquynh commented on #616
fixed now, please confirm.

[2016-08-27 20:22] aquynh commented on #602
fixed now, please confirm.

[2016-08-27 20:26] aquynh commented on #523
i commited a fix for this by converting the data type of `begin` in `memory_map()` and `memory_map_ptr()` from `ram_addr_t` to `hwaddr`. please confirm this fixes your issue.

[2016-08-29 06:50] horsicq commented on #616
It works perfectly.

[2016-08-29 06:50] #616 closed

[2016-08-29 10:56] argp commented on #602
Confirmed (only tested on OS X though).

[2016-08-29 10:56] #602 closed

[2016-08-29 11:28] aquynh commented on #602
On OSX (64bit), it always works. This fix just targets 32bit OS.

[2016-08-29 11:29] aquynh commented on #602
Ah you mean tested in IDA 32bit.

[2016-08-29 14:05] argp commented on #602
Both idaq and idaq64 are 32-bit binaries (on all platforms). I tested idaq64 (32-bit) on a latest OS X (64-bit).

[2016-08-29 14:16] aquynh commented on #602
yes i know

[2016-08-30 18:57] #626 closed

[2016-09-02 21:55] 4577 opened #629 "Makefile deletes its work directory when used with Arch build system"
It is not possible to install Unicorn using the yaourt package manager, because the Makefile deletes its own work directory.

This is due to this line from the Makefile:

    ifdef BUILDDIR
	    rm -rf $(BUILDDIR)
    endif

Here, BUILDDIR is an environment variable set to /tmp/yaourt-tmp-$HOME/aur-unicorn by makepkg, and the root for all files used by yaourt to perform. As $BUILDDIR is removed, t

[2016-09-02 23:07] aquynh commented on #629
Do you have a solution for this? If you do, would you please send a pull req for that? Thanks

[2016-09-03 10:26] aquynh commented on #629
if you remove all those BUILDDIR lines from Makefile, can you compile in Arch with `./make.sh`?

[2016-09-03 10:34] 4577 commented on #629
I can make the build process succeed by clearing the BUILDDIR (using "BUILDDIR= make" instead of "make"), so it seems that yes. (Only removing the rm line throws another error about not finding the .a later).

I was just willing to ask whether this Arch-specific code had a purpose before suggesting to remove it (:

[2016-09-04 00:06] aquynh commented on #629
Please send a pull req to remove BUILDDIR.

[2016-09-04 07:30] #629 closed

[2016-09-06 11:23] cseagle opened #631 "Single stepping in SPARC is broken for 'call' instruction"
Given the following code:

[code]

And repeated application of:
`uc_emu_start(uc, pc, pc + 32, 0, 1);`
with pc initially 0x10000, I would expect pc to progress `10000->10004->10008->10018->1001C`
however the actual progression is `10000->10004->10008->1000C->10010`

The attached test demonstrates the problem with output:

[code]

[sparc.txt](https://github.com/unicorn-engine/unicorn/files/456570/s

[2016-09-08 14:17] geek-li opened #632 "how to deal with interrupt instruction more easily?"
now,in unicorn for  "int n" instruction .there will be use hook callback function to execute some specical things which u  want, but obviously ,it's not a smooth way,a more easy is just use IDT in the initialty stage I think ,but I  find  it's hard to initialize  the IDT and run the program correctly.Anyone have a good idea?

[2016-09-08 15:08] aquynh commented on #632
why the current approach is "not a smooth way"?

[2016-09-09 02:17] geek-li commented on #632
what I means is execute interrupt instruction  automatically,which by initialized IDT and  then just  dispatch the multiple interrupt instructions instead to hook  int  instructions.

[2016-09-09 02:24] geek-li commented on #591
but by  stop->start operation,whether will cost  much resource or not?@lunixbochs

[2016-09-09 03:28] geek-li opened #633 "why can't change eip value in int ins hook callback function?"
after execute int 0x80 instruction,in the callback routine and then write value to eip,seems no error return ,but eip don't changed ,what's the reason ?

[2016-09-10 02:35] JayFoxRox opened #634 "License unclear: "GPLv2 only" or "GPLv2 or later""
COPYING and README claim this is GPL, but it doesn't specify which version exactly? It looks like GPLv2, the question is: "GPLv2 only" or "GPLv2 or later"?
The current uc.c only contains a copyright where it's unclear wether that file also belongs to GPL'd code.
The source files or README should contain [the license text as per COPYING file](https://github.com/unicorn-engine/unicorn/blob/master/CO

[2016-09-10 02:48] aquynh commented on #634
i prefer LGPL as well, but there is no clear evidence that we can use that for QEMU code. if you have a convincing proof, let me know.

uc.c can be in LGPL if there rest is.

[2016-09-11 11:39] JayFoxRox opened #635 "get_clock() is not monotonic (on non _WIN32)"
`get_clock` (include/qemu/timer.h) is  used in the timeout calculation (and probably in various other places too?). However, that timer is _not_ monotonic and might jump between loop iterations.
This probably makes it possible to jump back in time after `uc_emu_start` which would mean the timeout won't trigger as expected.

This is partially an upstream (documentation) issue. Unicorn trips on it.

[2016-09-11 11:58] JayFoxRox opened #636 ""Thread-safety by design" not true"
There are various race conditions in Unicorn.

Take `uc_emu_stop` for example:

[code]

`cpu_exit` operates directly on variables of the referenced CPU struct. So we can't pass a null pointer.
However, the check is useless here because another thread might have finished `cpu_exec` first which will set `current_cpu = NULL` between check and use of it.
This is _probably_ the reason why [this comment

[2016-09-11 12:11] JayFoxRox commented on #251
Partially fixed in #607 ?

(I think this should return data in bytes, 2 uint64_t or 4 uint32_t. It currently seems to use 2 float64 internally)

[2016-09-12 16:12] aquynh commented on #636
that is right. can you add a mutex & send a pull req?

[2016-09-12 16:14] aquynh commented on #635
this is interesting! can you come up with a fix?

[2016-09-16 02:15] disektor opened #638 "sample_arm fails in thumb mode?"
I am new to Unicorn.  When I run the sample_arm example, the ARM mode works but thumb mode seems to fail (Failed on uc_emu_start() with error returned: 8,  and the register value in SP is wrong).

Did I miss anything?

Here is the full output:

unicorn/samples$ ./sample_arm
Emulate ARM code

==========================

Emulate THUMB code

...
Failed on uc_emu_start() with error returned: 8

[2016-09-18 01:39] aquynh commented on #638
are you using the latest code from Github?

[2016-09-18 02:50] disektor commented on #638
Yes, a fresh clone from git on a x86_64,  Ubuntu 14.04.4 system.
Here is the uname and git status info.

~/unicorn/unicorn$ uname -a
Linux R320 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

~/unicorn/unicorn$ git status
On branch master
Your branch is up-to-date with 'origin/master'.

nothing to commit, working directory clean

[2016-09-18 02:54] disektor commented on #638
Just checked out another copy.  Same behavior with sample_arm (good with ARM, but failure in thumb mode)

~/unicorn/unicorn$ ./samples/sample_arm
Emulate ARM code

==========================

Emulate THUMB code

... ...

Failed on uc_emu_start() with error returned: 8

~/unicorn/unicorn$ git log | more
commit 5af4880f1a459fc152e3e0e1ac99d9915575350d
Merge: d59081b 3bc55f9
Author: Nguyen Anh Quynh

[2016-09-18 03:37] aquynh commented on #638
This worked before. Can you "git bisect" to find which commit causes this issue?

[2016-09-18 06:16] ekse commented on #638
This is the commit were the tests started to fail:
https://github.com/unicorn-engine/unicorn/commit/a59f54ca72020833c71f834d41ba30ad4b8061e1

[2016-09-18 15:42] aquynh commented on #638
@esanfelix, this is related to your PR before, could you look at that?

[2016-09-19 12:31] esanfelix commented on #638
Sorry for the delays, I've been kind of unavailable for a while.

I didn't test the sample when I pushed that commit because I was traveling without much free time, and once it was merged I assumed it was all ok.

This issue appears because ARM modes are now handled in a similar way to what the CPU does: bit 0 is used to detect the mode, rather than the mode provided at instantiation time.

The sa

[2016-09-19 12:36] aquynh commented on #638
do you want to send a pull req for this?

[2016-09-20 04:33] ekse commented on #638
@esanfelix I think the new approach makes more sense and the tests should be changed to reflect that. That's what I just did for my rust bindings.

[2016-09-20 08:33] esanfelix commented on #638
I've pushed it now, two commits one with sample_arm.c and one with sample_arm.py once I realized it needed to be changed there too.

The Java, Go and Ruby bindings also need the same changes, but I don't have them set up and I'd rather have someone try that before committing.

Btw I'm not sure both commits made it to the pull request (not a heavy GitHub user so might have screwed up) so let me kno

[2016-09-20 12:07] #638 closed

[2016-09-20 12:08] aquynh commented on #638
i merged https://github.com/unicorn-engine/unicorn/pull/639, and this is fixed now, thanks!

[2016-09-20 12:19] aquynh commented on #638
@sashs & @cseagle: i fixed your Ruby & Java samples in this commit: https://github.com/unicorn-engine/unicorn/commit/95e8dc0fb845bfe0812fe855a4064a05dc74ac1d. if you find something wrong, please let me know.

@lunixbochs & @adrianherrera: i am not confident with Go & Haskell samples, so please send pull req to fix address of Thumb samples, thanks!

[2016-09-20 19:25] sashs commented on #638
Hi, looks good. :)

[2016-09-21 07:51] adrianherrera commented on #638
PR made. See PR #641

[2016-09-22 09:58] danghvu commented on #636
I think "by designed" means you use different context for different thread, do you mean to share one context with multiple threads -- if that's the case there are much more variable to worry about.

[2016-09-22 20:55] lunixbochs commented on #636
I think due to the design of Unicorn versus QEMU it makes more sense to remove "multiple cpu" support for a single uc instance, then don't set `current_cpu = NULL` (and ensure uc->cpu is always stable).

[2016-09-22 21:13] JayFoxRox commented on #636
@danghvu note that this does even happen internally. The emulation runs on the main thread. However if a duration-timeout is specified the timeout thread (!) will come into action and call `uc_emu_stop()` (which may create a race condition if the main thread finishes while `uc_emu_stop` is performed on the timeout thread). If UC claims it's thread safe by design then it should have these mutexes i

[2016-09-22 21:19] lunixbochs commented on #636
The underlying QEMU SMP interface can't be easily exposed by Unicorn so it's just broken right now. I think properly supporting SMP would be a significantly harder problem than removing it for the time being.

[2016-09-22 23:14] lunixbochs commented on #633
flag and pc register writes should trampoline. I can fix this at the same time as #512

[2016-09-23 03:20] geek-li commented on #633
@lunixbochs ok,I find another way  to chinange eip. when excute "int xxx"  ins,which is  change eip in code hook  callback .

[2016-09-23 04:00] zachriggle commented on #550
Ping? :)

[2016-09-23 04:00] zachriggle commented on #558
Ping? :)

[2016-09-23 04:00] zachriggle commented on #499
Ping? :)

[2016-09-23 05:04] aquynh commented on #636
yes we can remove multiple CPU support. please send pull req for this.

[2016-09-23 14:04] lunixbochs commented on #318
removing X86_CPU conversion should be possible with https://github.com/unicorn-engine/unicorn/issues/636#issuecomment-249103954

[2016-09-23 14:18] lunixbochs opened #642 "allow grouping unicorn handles for SMP, TLB operations, etc"
related to removing multiple CPU support

https://github.com/unicorn-engine/unicorn/issues/636#issuecomment-249103954

maybe an API to have TLB flush happen manually, or the ability to put multiple unicorn handles in a shared TLB flush or memory group of some kind?

any other SMP operations should be supported across unicorn cpu groups as well

Here are some spots where it matters:

https://github

[2016-09-23 14:41] lunixbochs commented on #636
PR #643 - it also obsoletes `uc->current_cpu` which should be replaced with some other flag

[2016-09-23 15:01] lunixbochs commented on #633
hrm, reg_write(EIP) already trampolines. can you post a test case?

[2016-09-23 20:13] rhelmot commented on #558
I have no updates! I haven't given this issue any thought since it was way beyond my ability to fix, and it's not an issue if you're setting up the gdt correctly. (this is very hard but you only need to write the code to do it once!) Now that I'm more familiar with the code, I could give it another try, but no guarantees....

[2016-09-24 03:44] geek-li commented on #633
well  I means u can change eip when u find the executed ins is int xxx which u can change the eip value in code hook callback and in the same time int ins hook callback well not be called .

[2016-09-24 15:40] aquynh commented on #642
this looks good, except some functions should have deadcode cleaned, like tlbimvaa_is_write().

since this pull req means no more SMP, what do you mean by supporting other SMP operations?

what do you mean with the links above?

[2016-09-24 16:00] aquynh commented on #636
it seems current_cpu can be removed. same for cpu_index?

[2016-09-25 03:16] geek-li opened #644 "new api request:get host address and get guest address"
I think it's useful to add this feature for users to debug their pogram ,when they want to know the virtual unicorn memory status.

[2016-09-26 14:37] lunixbochs commented on #644
You want Unicorn to do address translation for you and tell you where guest pages are actually located in memory? I don't know if I like crossing the API boundary like that.

You should be able to do this yourself with `uc_mem_map_ptr()` anyway.

[2016-09-27 03:30] geek-li commented on #644
@lunixbochs
 uc_mem_hostaddr(guestaddr,&hostaddr);//guestaddr is unicorn mapped address ,hostaddr is the real address which getted by this function;
the following is just another direct,used to get unicorn mapped address by real memory address
 uc_mem_guestaddr(hostaddr,&guestaddr)
====
I think it's useful when u want to managent ur unicorn memory dynamically，and write or read ur unicorn quickly a

[2016-09-27 04:20] lunixbochs commented on #644
`uc_mem_map_ptr()` should already solve all of your concerns here - it allows you to assign a host memory page to back a Unicorn guest region. If you do this, you'll implicitly know the backing address for guest memory and can do all of the things you say. Keep in mind this won't flush caches (and neither will your proposal).

[2016-09-27 09:33] felixgr opened #645 "invalid-shift-exponent in normalizeFloatx80Subnormal_x86_64"
We found a UBSan error which crashes unicorn. I don't think it has security impact.

`echo '2MbYKLr+uri6ura6usnYAAyn0Ngp2CgMICUnFokS3RQnIbiNyigVedghySHW1dXV1dXVgtXV1dXV1dXVCgoK3g==' | base64 -d > repro_normalizeFloatx80Subnormal_x86_64`

Offending line:

`*zSigPtr = aSig<<shiftCount;`

`unicorn/src/qemu/fpu/softfloat.c:672:20: runtime error: shift exponent 64 is too large for 64-bit type 'uint64_t

[2016-09-27 09:37] felixgr opened #646 "invalid-shift-exponent in tb_invalidate_phys_page_fast_x86_64"
We found a UBSan error which crashes unicorn. I don't think it has security impact.

`third_party/unicorn/src/qemu/translate-all.c:1428:42: runtime error: shift exponent 54 is too large for 32-bit type 'int'`

Offending line:

`b = p->code_bitmap[BIT_WORD(nr)] >> (nr & (BITS_PER_LONG - 1));`

Stack trace:

[code]

Reproduce:

`echo 'Z91z/////4h+' | base64 -d > repro_tb_invalidate_phys_page_fast_x8

[2016-09-27 16:06] aquynh commented on #645
could you provide the source code of the testcase `repro_normalizeFloatx80Subnormal_x86_64`?

[2016-09-27 16:06] aquynh commented on #646
could you provide the source code of the testcase `repro_tb_invalidate_phys_page_fast_x86_64`?

[2016-09-28 06:02] geek-li commented on #644
@

[2016-09-28 06:02] #644 closed

[2016-09-30 13:44] 0xmilkmix opened #647 "OSX compilation error"
Using either the 0.9 tarball or clone, I get this error while compiling using ./make.sh on OSX
/usr/local/Cellar/glib/2.50.0/include/glib-2.0/glib/gtypes.h:423:3: error:      '_GStaticAssertCompileTimeAssertion_0' declared as an array with a negative size

glib: stable 2.50.0 (bottled)
--universal

Any idea what could be wrong?

[2016-09-30 13:46] aquynh commented on #647
Did you follow the docs? There are some dependency that you must install
first.

Also, you should use the latest Github cide, not 0.9, since we fixed many
issues since.

[2016-09-30 13:49] 0xmilkmix commented on #647
Yes, followed the docs and compiled glib in both 32 and 64 bits. pkg-config installed as well

[2016-09-30 13:54] aquynh commented on #647
Do you have same issue with Github code?

What is your clang version?

[2016-09-30 13:54] 0xmilkmix commented on #647
Yes
glib header was included from unicorn/qemu/include/glib-compat.h:19
clang  is "Apple LLVM version 7.3.0 (clang-703.0.29)"

[2016-09-30 14:26] aquynh commented on #647
something must be wrong with your setup, as i have the same glib version, and use clang-703.0.31, but have no issues at all.

if you figure out what is wrong, please report back here.

[2016-09-30 14:27] 0xmilkmix commented on #647
will continue looking into this and keep you informed. Thanks

[2016-09-30 14:43] 0xmilkmix commented on #647
Solved it:
$ export CC=clang
$ ./make.sh macos-universal

[2016-09-30 14:44] aquynh commented on #647
interesting. what was the default CC then?

[2016-09-30 14:46] 0xmilkmix commented on #647
strange thing is that env variable wasn't defined...

[2016-09-30 15:30] aquynh commented on #647
so you can compile now, but dont have universal binary?

are you sure that you install glib with universal format? if you are not, then install again with:

    $ brew unlink glib
    $ brew install glib --universal

[2016-10-08 20:36] mothran opened #652 "ARM: read / write coprocessor via API"
I am currently trying to emulate a usermode ARM process and ran into some issues with the Android TLS system, in order to get thread locals such as thread ID and other components, the process attempts to read the coprocessor registers, example:

[code]

Which reads the Read only coprocessor for thread locals (http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0344k/Babeihid.html)

Trac

[2016-10-09 01:41] aquynh commented on #652
yes, please go ahead to support these registers, and send pull req when you are done.

there are many registers inside cp15. perhaps we should expose this struct, and perform read/write to the whole struct?

[2016-10-09 03:04] mothran commented on #652
It would make the registers much cleaner in that case.  Would you expose it as a member of the uc_engine handle, or as a new API method?

Also the actual variable names inside of the cp15 struct are a little obtuse, if we implement them as individual registers it could a much more clear translation for the unicorn user.  For example:

[code]
Becomes (or something similar):
[code]
vs:
[code]
What a

[2016-10-09 05:01] aquynh commented on #652
I think we can do both.

[2016-10-09 16:46] stephengroat commented on #574
i'm trying to add iOS builds to travis. has anyone figured out a resolution to this so I can try to merge it in?

[2016-10-09 18:14] lunixbochs commented on #522
I'm still having trouble setting SS, @sparktrend did you get that working?

[2016-10-12 00:23] mothran commented on #652
Great, do you have any examples of exposing structs like that via the API that I can try and model my code after?

[2016-10-12 02:29] aquynh commented on #652
you can copy the struct `cp15` to include/unicorn/arm.h, then add code so that we can read/write  to the whole struct with new register `UC_ARM_REG_CP15`.

we did something similar for XMM register before, you can take a look at this: https://github.com/unicorn-engine/unicorn/commit/4a8f52ae7f24e9dbbf05d792a91825cdffe7b54d

[2016-10-18 03:07] seem111 opened #653 "some error when run the same code"
when I run the code from the network and the local disk. I got different result. As you can see the result like:
the code is \x01\x00\x8F\xE2\x10\xFF\x2F\xE1\x00\x20\xD5\x27\x00\xDF\x02\x20\x01\x21\x06\x22\xFA\x27\x1F\x37\x00\xDF\x04\x1C\x0D\xA1\x10\x22\xFA\x27\x21\x37\x00\xDF\x20\x1C\x00\x21\x3F\x27\x00\xDF\x20\x1C\x01\x21\x3F\x27\x00\xDF\x20\x1C\x02\x21\x3F\x27\x00\xDF\x07\xA0\x00\x21\x02\xB4\x0

[2016-10-18 06:46] aquynh commented on #653
without more details, it is impossible to tell. can you post your code?

[2016-10-18 07:53] seem111 commented on #653
ok, it's my fault. There is the bug in my code. Thanks all the same.

[2016-10-18 07:53] #653 closed

[2016-10-19 21:55] crowell opened #654 "bindings: registers are signed values"
[code]

registers should be unsigned values. at least in python you're using ctypes for `int64`, instead of `uint64`

It doesn't make sense for `$pc` to ever be negative, especially when do things like map kernels there ;)

[2016-10-20 00:24] aquynh commented on #654
Can you send a pull req for this?

[2016-10-24 20:54] LaChancla0 opened #657 "Emulating an ARM based binary and call a function at a specified address, possible?"
Just discovered Unicorn and I found it amazing.
What Im a trying to do is loading an ARM binary into Unicorn which somewhere at address 0xYYYYYY has a func(R0,R1) method and I would like to 'start' the emulation from that address.

Is this possible with Unicorn? In the example provided is only shown how to 'manually' write some ARM code at a specified address but not how to load a full binary.

If

[2016-10-25 01:12] Nukem9 commented on #657
AFAIK Unicorn doesn't provide any binary loading functions - just emulation, which means you need to write an ARM (elf?) loader by yourself. The executable regions can then be mapped with `uc_mem_map()`.

[Usercorn](https://github.com/lunixbochs/usercorn) might be helpful for you.

[2016-10-25 01:16] aquynh commented on #657
we have the API `uc_mem_map_ptr()` to map a pointer in, which may interests you. see the sample at https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_x86.c#L286

[2016-10-25 05:58] ltfish commented on #560
I assume this issue has been fixed. Maybe it's time to close it?

[2016-10-25 14:23] mrphrazer commented on #654
I think that also holds for the memory hooks?

[code]

[2016-10-25 18:23] aquynh commented on #654
Pull req, please?

[2016-10-26 07:17] lowlyw opened #660 "ruby bindings dont build with a modern version of ruby"
[code]

[2016-10-26 07:20] aquynh commented on #660
you dont need to run "make" in `bindings/`. that step is supposed to be for repo committers only.

@sashs, do you have any comments?

[2016-10-26 07:21] lowlyw commented on #660
ugh, disregard, my copy of bundler was out of date and was freaking out..

[2016-10-26 07:21] #660 closed

[2016-10-26 07:34] lowlyw commented on #654
https://github.com/unicorn-engine/unicorn/pull/661

for fix for ruby impl

[2016-10-26 07:35] aquynh opened #662 "update bindings to support uc_context_save() & uc_context_restore()"
attention: @sashs, @enkomio, @adrianherrera, @cseagle, @xorstream, @lunixbochs.

recently we have new APIs `uc_context_save()` & `uc_context_restore()`. at the moment, only Python binding supports these API.

thus we need to update other bindings: .Net, Go, Haskell, Java, msvc & ruby.

thanks!

[2016-10-27 07:59] 0xmilkmix commented on #647
unfortunately it does not solved the issue. Pulled the latest version this morning and it does not changed the outcome.

[2016-10-27 08:20] aquynh commented on #647
sorry, cant tell what is wrong with your system. Travis now compiles on OSX without any issues.

[2016-10-27 08:49] aquynh commented on #654
@crowell: fixed now thanks to @mrphrazer. please report if you still have issues, thanks.

[2016-10-27 08:49] #654 closed

[2016-10-27 12:10] fr0zenrain commented on #519
thanks,i mean i allocate memory before, uc_mem_map after,and i copy my memory to unicorn's memory, i think not ok,and i test not ok. why i must allocated before,because i loaded an executable.

[2016-10-27 13:12] fr0zenrain commented on #519
just direct emulate host memory instruction

[2016-10-27 13:30] mrphrazer commented on #654
we have the same problems in the hooks, `value` can be negative:

[code]
A possible fix is
[code]

[2016-10-27 14:56] aquynh commented on #519
Can you post your code?

[2016-10-27 18:20] sh1ftchg commented on #519
"it have other method to resolve it?" Yeah, read the documentation -  you are looking for "uc_mem_map_ptr".

If you used a system loader to "load an executable" the binary will have been loaded and mapped into memory with the page aligned requested protections: code typically has x (executable) data varies, some with r (read), others with w (write) or c (copy on write, typically for thread safety)

[2016-10-27 18:31] aquynh commented on #519
thanks for a long explanation! btw, we fixed many memory leaking issues we knew, so check it out the latest Github code ;-)

[2016-10-28 05:12] fr0zenrain commented on #519
thanks sh1ftchg & aquynh , now  i allocated virtual address space by myself, and i achieved VirtualAlloc  or mmap based uc_mem_map  , i use uc_mem_write to write binary to unicorn engine , i complete relocate binary use uc_mem_read,uc_mem_write finally , i can't operate the memory directly,i think it's not friendly. maybe i need a virtual address to physical address translate api ?

[2016-10-28 08:03] tanis2000 opened #663 "Go bindings not working"
[code]

I'm using Go 1.7.3
Same issue with 1.6.2 so I guess it's not a problem with Go, rather with unicorn.

I'm using the 0.9 release through homebrew on OSX.

[2016-10-28 08:10] aquynh commented on #663
I think you need the latest Github code, not v0.9, which is very much
behind the latest binding of Go. So compile and install the core from
Github to see it fixes this issue.

[2016-10-28 09:29] tanis2000 commented on #663
I tried compiling the latest master but I'm having some issues as well.
I used `brew install unicorn --HEAD` as it does it all in an automatic way.
The formula it uses is here https://github.com/Homebrew/homebrew-core/blob/master/Formula/unicorn.rb

Nothing special.. pretty much like manual compilation.

But it fails with the following error:

[code]

The archs being set in `UNICORN_ARCHS` are `x8

[2016-10-28 09:36] aquynh commented on #663
but brew also uses v0.9, which is very much behind. we plan to release v1.0 very soon.

it is very simple to compile from source with latest Github code:

- install dependency with:

        $ brew install pkg-config glib

- then from the Unicorn Github code, do:

        $ ./make.sh
        $ sudo ./make.sh install

- done.

[2016-10-28 09:46] tanis2000 commented on #663
nope, brew is using the latest master:

[code]

[2016-10-28 09:48] aquynh commented on #663
Then it is broken. Can you try what i post above?

[2016-10-28 09:51] tanis2000 commented on #663
yes, that did work. I think the issue is that the brew formula is explicitly specifying x86_64 as an arch to compile against, while standard make.sh isn't.
I'll try modify the formula and check that.

[2016-10-28 09:56] aquynh commented on #663
let me ping the author of the Brew formula

[2016-10-28 10:24] shaunwheelhouse commented on #663
I haven't updated this since creating it and don't have a testing environment on hand, so I can't be of much help here. Sorry!

[2016-10-28 20:15] #657 closed

[2016-10-28 20:23] LaChancla0 opened #665 "GO binding in MODE_THUMB (Invalid memory fetch (UC_ERR_FETCH_UNMAPPED))"
I'm trying to test this simple go program

[code]

but I get this error upon executing the mu.Start

pretty sure the area is not unmapped (0x1000)

[2016-10-28 20:29] tanis2000 commented on #663
I tried looking at the brew formula but it doesn't really look like there's anything wrong. Even compiling it by hand from within brew's shell is failing so I guess it's something tied to the brew environment, but I don't know enough about it to be able to say what's wrong.

[2016-10-29 15:29] sh1ftchg commented on #665
For future reference: To align arbitrary address ranges dynamically use the following pseudo code converted to the desired language bindings of your choice:

ALIGN = 0x1000
MASK = ~(ALIGN - 1)
start = address_start & MASK # bitwise floor to the alignment boundary
end = (address_end + ALIGN) & MASK # bitwise ceil boundary aligned

Secondly, and likely the cause of your problem: ignore mode. In my.S

[2016-10-29 21:18] adrianherrera commented on #662
Please see PR #667

[2016-10-30 02:54] aquynh commented on #654
i am not sure it is a good idea to do this conversion inside the framework, rather than doing it in your app. is this what everyone wants?

[2016-10-30 03:13] aquynh commented on #662
Haskell binding now is updated, thanks!

[2016-10-30 16:28] sh1ftchg commented on #654
This is a good idea. Why? A processor could be executing in an 8, 16, 32, 64 or less commonly / more advanced 128, 256, 384, or 512 bit context. Most of the time the only defining property a processor makes for its registers is its bit-size and their positions. Therefore if you leave these as signed values in the API it forces an implicit signed extension and therefore no longer accurately represe

[2016-10-30 20:52] adrianherrera commented on #662
BTW could we please have a sample in `samples/` that uses the `uc_context_*` functions? It is helpful to have something to test against for the bindings.

[2016-10-30 21:01] danghvu commented on #662
@adrianherrera There is a test here, and another one in the unit test.
https://github.com/unicorn-engine/unicorn/blob/master/bindings/python/sample_x86.py#L315

[2016-10-30 21:03] adrianherrera commented on #662
Oh cool, thanks! I'll copy that Python one

[2016-10-31 00:17] aquynh commented on #662
yes the C sample for these context API is still missing. pull req to add one is welcome.

[2016-10-31 10:58] adrianherrera commented on #662
PR made. See PR #669

[2016-10-31 11:56] aquynh commented on #662
excellent, thanks a lot, @adrianherrera! now we have a sample code in C for these API: https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_x86.c#L672-L769

[2016-10-31 12:17] mrphrazer commented on #654
@aquynh I do see your point; I do not know either. However, I think there should be some consistency between `reg_read`, `reg_write` and the callbacks. If the register reads/writes return an unsigned value while the memory hooks operate on signed values it might be confusing.

[2016-10-31 19:38] CryptXor opened #671 "Python 3.5 dynamic library load error"
I've been battling with running the python bindings on python 3.5.

I keep getting a `ImportError: ERROR: fail to load the dynamic library.` however I have checked that all libraries are present in .\unicorn\lib

[code]

The library does load the directories correctly
[code]

I have no idea what the issue is here. You can see the hap-hazard file loading from a little debug print() I did :/

Its al

[2016-11-01 00:09] aquynh commented on #671
Do you have same issue with Python 2?

[2016-11-01 03:46] sh1ftchg commented on #671
He's going to have the issue regardless of python version! I had the same problem. These lines:
[code]
We all know python is white-space dependent, and notice that indentation fail? Plus, this python is python3 ONLY: `from . import x86_const, unicorn_const as uc`

Anyway, replace the above lines respectively with these versions that work on python 2 and 3:
[code]

[code]

[2016-11-01 04:34] aquynh commented on #671
what indentation fail, i cannot see from your post.

@rhelmot, do you have any comments?

[2016-11-01 04:40] rhelmot commented on #671
@sh1ftchg, I have no idea what you're talking about with the indentation fail and also the py2/3 issues.

- Single statements may be written after a colon with no need for a newline.
- The current import syntax is valid in both python 2 and python 3.

I will attempt to reproduce this later tonight. I never tested python 3 on windows.

[2016-11-01 04:55] sh1ftchg commented on #671
Wow. You two serious? Can you two not see the else is misaligned? It does not inherent to match its if statement? Holy crap guys, that is causing the problem.

While I'm at it, the import is supported in some versions of 2.7 it is fully supported in 3+.

[2016-11-01 04:57] rhelmot commented on #671
uh. in python, a for-loop can take an else clause. This clause is executed when the loop terminates naturally, without breaking.

[2016-11-01 05:02] rhelmot commented on #671
Did you actually think through the patch you proposed? It's impossible for the for-loop to ever get to any iterations after its first one. It will either break out or except out immediately.

And while we're at it, the import syntax you proposed is not allowed in python 3 for importing from submodules.

[2016-11-01 05:19] sh1ftchg commented on #671
You're right, and no, I didn't! I'm not even looking at the right unicorn, the one I'm running. Apparently I'm a retard and mixed up my diff commands along with my location. My apologies. I used the inspection package to get where unicorn was pulling from source at: This is the only line changed in my version... I've added `libpcre-1.dll",` to the windows dll list.

[2016-11-01 05:59] aquynh commented on #671
@stephengroat, this would not be an issue if Appveyor can handle Msys & Python 3.5, but as far as i understand, you cannot not make it work yet?

[2016-11-01 06:07] stephengroat commented on #671
should be do-able. i'll try again in #666

[2016-11-01 06:32] stephengroat commented on #671
anyone recognize what I'm doing wrong if I see this in my build?
[code]

[2016-11-01 10:06] OctHex2016 commented on #663
I also get this error
go get -u github.com/unicorn-engine/unicorn/bindings/go
# github.com/unicorn-engine/unicorn/bindings/go/unicorn
could not determine kind of name for C.uc_context
could not determine kind of name for C.uc_context_alloc
could not determine kind of name for C.uc_context_free
could not determine kind of name for C.uc_context_restore
could not determine kind of name for C.uc_conte

[2016-11-01 11:53] aquynh commented on #671
@CryptXor, i pushed some minor fixes. i dont think this problem is solved yet, but just to be sure, can you pull the latest code, try again, and report the result?

[2016-11-01 11:57] aquynh commented on #663
@OctHex2016, did you install the latest Unicorn core yet? otherwise, @lunixbochs may help with Go issue.

[2016-11-01 12:27] lunixbochs commented on #663
that error means the unicorn header found by Go was probably older than the context commit

[2016-11-01 12:31] aquynh commented on #663
@tanis2000 @OctHex2016: i just pushed a commit to fix this issue with Brew. can you try again now with "brew install unicorn --HEAD" ?

[2016-11-01 14:18] CryptXor commented on #671
Sure will do.

[2016-11-01 14:23] CryptXor commented on #671
[code]

With my debug modifications, same issue.

[2016-11-01 15:28] sh1ftchg commented on #671
Have you added libpcre? (Perl Compatible Regular Expressions)

[2016-11-01 16:31] danghvu commented on #671
@CryptXor Can you print out the error that might have happen at:

https://github.com/unicorn-engine/unicorn/blob/master/bindings/python/unicorn/unicorn.py#L50

We should use these information instead of just dummy message "fail to load dynamic library". There is no way to know what happens.

[2016-11-01 16:55] CryptXor commented on #671
Hahaha so true.

[code]

I have tried with both the 0.9 release and the latest build.

[2016-11-01 17:00] danghvu commented on #671
Ok, that is slightly clearer :'( -- I suppose these are `unicorn.dll` related error.  As I search around this error seems to be architecture problem, could you please 32-bit/64-bit machine vs. 32-bit/64-bit dll file ?

ref: http://stackoverflow.com/questions/19849077/error-loading-dll-in-python-not-a-valid-win32-application

[2016-11-01 17:01] CryptXor commented on #671
Yeah I am building cross-win64 and using x64 python :) The dll's are valid

[code]

[2016-11-01 17:03] CryptXor commented on #671
I'm building with ` UNICORN_BUILD_CORE_ONLY="yes" ./make.sh cross-win64` from MSYS2 MinGW 64-bit

[2016-11-01 17:08] danghvu commented on #671
Are you sure that is `unicorn.dll` load error then ? I would check for all:
[code]

[2016-11-01 17:10] CryptXor commented on #671
I wonder... Because `"libgcc_s_dw2-1.dll",` is a 32bit dll, `"libgcc_s_seh-1.dll",` is the x64

[2016-11-01 17:13] CryptXor commented on #671
Ok so I changed
[code]
[x] OS error: [WinError 126] The specified module could not be found
[x] OS error: [WinError 126] The specified module could not be found
[x] OS error: [WinError 126] The specified module could not be found
[x] OS error: [WinError 126] The specified module could not be found
[x] OS error: [WinError 126] The specified module could not be found
Traceback (most recent call last

[2016-11-01 17:27] danghvu commented on #671
It's weird now.. they are all unable to find `unicorn.dll`, can you check if this line is execute https://github.com/unicorn-engine/unicorn/blob/master/bindings/python/unicorn/unicorn.py#L48
and point to the right unicorn.dll file ?

[2016-11-01 17:35] CryptXor commented on #671
[code]

The paths are doing strange things again :/

[2016-11-01 17:44] rhelmot commented on #671
Can you get unicorn.dll to load manually in a raw Python shell by running `ctypes.CDLL(...)` or whatever constructor we're using here on all the DLLS? If you can find an arrangement that works manually, we can try to add that logic to the bindings.

[2016-11-01 17:47] aquynh commented on #671
Again, this issue is just for Python 3, but you have no problem with Python
2?

[2016-11-01 17:48] CryptXor commented on #671
[code]

[2016-11-01 17:49] CryptXor commented on #671
@aquynh Python 3 correct :)

[2016-11-01 17:51] CryptXor commented on #671
The dependencies are there as well.
[code]

[2016-11-01 18:32] danghvu commented on #671
This probably means some dependencies are not satisfied. I suspect `libgcc_s_dw2-1.dll` is needed by some dlls but you comment it out, but I'm not 100% sure.

[2016-11-01 18:47] CryptXor commented on #671
@danghvu I highly doubt that, but you might be onto something. I have been tracing dependencies and there are a few missing.

[code]

I'm going to do a bit of library shuffling and I'll let you know what happens

[2016-11-01 18:53] CryptXor commented on #671
Nope still no joy. I've added the missing dep (I just noticed @sh1ftchg pointed that out) but it still refuses to load...
[code]

[2016-11-01 19:51] Paul776 commented on #663
Unix latest git code the do 'make' in the go folder

/tmp/go-build756131574/_/home/ec2-user/unicorn/bindings/go/unicorn/_obj/context.cgo2.o: In function `_cgo_8595014cb151_Cfunc_uc_context_alloc':
./context.go:52: undefined reference to `uc_context_alloc'
/tmp/go-build756131574/_/home/ec2-user/unicorn/bindings/go/unicorn/_obj/context.cgo2.o: In function `_cgo_8595014cb151_Cfunc_uc_context_free':
.

[2016-11-02 08:35] tanis2000 commented on #663
@aquynh you fix to brew did the trick. HEAD is working fine here now. Thanks!

[2016-11-03 15:06] LaChancla0 commented on #665
Thanks for

[2016-11-03 15:06] #665 closed

[2016-11-03 16:08] LaChancla0 opened #674 "Android cross compile not working"
My NDK folder which is in my PATH as well
/Users/xxx/Library/Android/ndk

"NDK=/Users/xxx/Library/Android/ndk ./make.sh cross-android arm"

Multiple problem here...

1) arm-linux-androideabigcc is not in the base NDK folder (the unicorn compile doc onlyspecifies to set the NDK env variable to the NDK path...
2) **arm-linux-androideabigcc** is no where to be found... but instead... there is a **arm

[2016-11-03 16:15] aquynh commented on #674
Interesting! Actually nobody ever tried to build Unicorn for Android, so it
should be broken. If you can fix it, please make pull req, thanks.

[2016-11-03 16:33] aquynh commented on #663
close, thanks

[2016-11-03 16:33] #663 closed

[2016-11-04 05:05] lowlyw commented on #654
This is still the case in Haskell bindings. I'm not a Haskell programmer so I'm not even going to pretend to know how to get it building and testing

[2016-11-04 05:07] lowlyw commented on #654
Also what is the consensus on the memory access use for these, they're broken still afaik for most of the bindings

[2016-11-04 14:26] aquynh commented on #671
ok, this problem is solved for Python 3.5, Python 2.7 or any Python version on Win64 (tested on Windows 10), if you do:

- under `bindings\python`, run `c:\python35\python.exe setup.py install`
- copy all the DLLs below to `c:\python35\lib\site-packges\` (which is not really the right place to me)

[code]

@rhelmot: i installed Python binding as above, and it doesnt look right: `unicorn.dll` is in

[2016-11-04 16:32] rhelmot commented on #671
What you're seeing with the non-global path is not an actual install path - Python decided to install Unicorn as a zipped egg distribution, which works correctly because Python knows we need to access the DLLs so it unzips a temporary copy at runtime.

I can set up unicorn to do the following things:

- if the dependencies are present in a `support` directory or something, install them alongside u

[2016-11-04 17:03] aquynh commented on #671
how about having it find the dependent DLLs in `%MSYS2%\mingw64\bin\`, too?

[2016-11-04 17:11] CryptXor commented on #671
That would probably cause conflicts with other compilers or apps if they were to be loaded from the path but require different versions or whatever.

[2016-11-04 17:20] CryptXor commented on #671
I don't know. I still get the same error, and I have attempted in a clean VM with the same results.

Compiled.

Run `python setup.py install`

copied the dlls, including unicorn.dll to the site-packages root.

Result: `ImportError: ERROR: fail to load the dynamic library.`

[2016-11-04 17:23] CryptXor commented on #671
I have tried running one of the samples in the python site-packages root to check that all dependencies are in place, and it runs fine.

[2016-11-04 17:26] rhelmot commented on #671
The site-packages root is not searched for DLLs. The highest precedence
search path is a folder named "lib" in the same folder as the installed
unicorn.py. As @aquynh pointed out, this is sometimes inside a zipped "egg"
file. If this is the case for you, uninstall the egg and then run "python
setup.py bdist_wheel install" to force installation without the egg.

On Friday, November 4, 2016, CryptXo

[2016-11-04 17:54] aquynh commented on #671
@CryptXor: you can pull the latest Github code, then uncomment this line https://github.com/unicorn-engine/unicorn/blob/master/bindings/python/unicorn/unicorn.py#L67, and reinstall Python binding again. then at the output of `shellcode.py`, you will see the list of paths that DLLs will be searched.

[2016-11-04 17:55] aquynh commented on #645
do you have this issue with original Qemu?

[2016-11-04 18:18] CryptXor commented on #671
@aquynh Sure give me a minute

[2016-11-04 18:21] CryptXor commented on #671
[code]

[2016-11-04 19:30] rhelmot commented on #671
I'm installing mingw right now to test some changes which I hope will resolve all these issues I'll submit a PR soon that will resolve this issue as well as applying some packaging lessons I've learned from working with Capstone.

[2016-11-04 20:03] rhelmot commented on #671
When you refer to `%MSYS2%` are you referring to an actual environment variable named MSYS2? No such variable seems to have been set on my system by the installer. Should I assume its presence? Should I just search `PATH` for the dll files?

[2016-11-04 21:38] CryptXor commented on #671
@rhelmot I believe @aquynh is referring to a hypothetical link to represent the root path of the MSYS2 installation :)

[2016-11-04 23:15] aquynh commented on #671
Can you copy all DLLs file to
C:\\Python\\lib\\site-packages\\unicorn-1.0-py3.5.egg\\unicorn\\lib, and
see if it works?

What is your Win version? Is it 64bit?

[2016-11-05 10:32] CryptXor commented on #671
@rhelmot Don't hate me, but I think there is a bug somewhere with your latest push.

I have created C:\Python\bin and copied the deps into it
[code]

but when running `python setup.py install` I now get this error:
[code]

I have also tried `python setup.py bdist install` with a similar problem.

[2016-11-05 11:02] CryptXor commented on #671
The good news (I ran python bdist_egg then installed the egg manually):
[code]

[2016-11-05 16:50] rhelmot commented on #671
What is the value of sys.platform for you?

I was under the impression that the msys2 environment was the only windows environment besides Cygwin supported for compilation, and acted accordingly. The resulting package will be installable on any windows system, but only msys2 is supported for compiling, right?

[2016-11-05 17:23] aquynh commented on #671
I heard recent version of Qemu can be compiled with Visual Studio, but not
really sure.

Qemu needs cross compile as its code is very POSIX-like.

[2016-11-06 09:00] CryptXor commented on #671
@rhelmot correct. I was only able to successfully create the package using msys2.
The sys.platform is:
[code]

[2016-11-07 00:14] stephengroat commented on #671
@CryptXor could you record for steps for the `msys` build? I want to automate it and put it into appveyor!

[2016-11-07 01:09] aquynh commented on #671
@stephengroat, the final step would depend on the final version of the PR https://github.com/unicorn-engine/unicorn/pull/675, which is not merged yet.

[2016-11-07 01:10] aquynh commented on #671
@CryptXor yes native compile with VS is surely much better, and i want that, too.

[2016-11-07 04:35] stephengroat commented on #647
@0xmilkmix if you look at the .travis.yml in #666, i now build MACOS_UNIVERSAL builds in travis

[2016-11-07 11:20] felixgr commented on #645
I didn't check original Qemu.

[code]

[2016-11-07 15:42] stephengroat commented on #674
@LaChancla0  Libpthread is included in Bionic lib, which substitutes GLibC in Android, so just try removing the -lpthread flag and try again

[2016-11-11 05:44] jjskuld opened #676 "Support for Neon VLD and VST"
Is there support for Neon instructions like VLD and VST?  Currently running into errors executing these instructions.

Issue #571 seems to indicate that Neon support exists but you need to enable it.  Is this still the case?

[2016-11-11 05:57] aquynh commented on #676
That issue explains the problem clearly: you need to init CPU in your own code.

[2016-11-11 16:01] jjskuld commented on #676
Thanks

[2016-11-11 16:01] #676 closed

[2016-11-13 11:10] fr0zenrain opened #677 "an arm_reg_write bug"
if we use uc_open(UC_ARCH_ARM, UC_MODE_THUMB, &uc) set init mode thumb
when emulator start,arm_reg_write will overwrite the thumb flag if the start address is even number.
in an arm device , pc odd impossible. unicorn will fetch the code as arm mode,it's not correct,and now i comment that two line,it's ok.

[2016-11-15 16:06] aquynh commented on #674
nobody ever tried for Android. the option is there in make.sh since i copied it from Capstone ;-)

[2016-11-15 22:32] Normmatt commented on #677
lowest bit of pc specifies thumb mode if its 1 its thumb otherwise it's arm.
It works this way on a real arm cpu as well.

[2016-11-17 09:42] seem111 opened #678 "errors in loading libunicorn.so"
ctypes.cdll.LoadLibrary("/usr/lib/python2.6/site-packages/unicorn-1.0.0-py2.6.egg/unicorn/lib/libunicorn.so")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib64/python2.6/ctypes/__init__.py", line 431, in LoadLibrary
    return self._dlltype(name)
  File "/usr/lib64/python2.6/ctypes/__init__.py", line 353, in __init__
    self._handle = _dlopen(self._name,

[2016-11-17 09:50] aquynh commented on #678
on Linux, can you try this installation instead?

    $ sudo pip install "https://github.com/unicorn-engine/unicorn/archive/master.zip#egg=unicorn&subdirectory=bindings/python"

[2016-11-17 10:05] seem111 commented on #678
I have uninstalled the unicorn and install it with your code and got the error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.6/site-packages/unicorn/__init__.py", line 4, in <module>
    from .unicorn import Uc, uc_version, uc_arch_supported, version_bind, debug, UcError, __version__
  File "/usr/lib/python2.6/site-packages/unicorn/unicorn.py",

[2016-11-17 12:10] aquynh commented on #678
can you remove all that, and try again with latest Github code like below, to see how it works?

[code]

[2016-11-18 00:11] oblivia-simplex opened #679 "W^X in OpenBSD 6.0 preventing execution of Unicorn samples"
I just moved over to OpenBSD from Arch, and have been having some trouble getting a project I'm working on with Unicorn to execute. When I tried to get the samples to run, I ran into the same difficulty. Looking at the kdump of sample_arm (https://ghostbin.com/paste/x526y), it looks like this is a W^X issue, which I understand is enforced on OpenBSD 6.0.

Is there a workaround for this, or will th

[2016-11-18 02:39] seem111 commented on #678
I got the same error.  I try to add -lrt in the makefile. But it doesn't work.

$ ./make.sh
if [ "x86 m68k arm aarch64 mips sparc" != "`cat config.log`" ]; then make clean; fi
cd qemu && make -j 4
make[1]: Entering directory `/home/admin/unicorn/unicorn-master/qemu'
make[1]: Leaving directory `/home/admin/unicorn/unicorn-master/qemu'
make unicorn
make[1]: Entering directory `/home/admin/unicorn/un

[2016-11-18 04:40] aquynh commented on #678
no, dont make that change in Makefile.

looks like you cannot even compile yet. what is your Linux version? and did you install dependency, as instructed in https://github.com/unicorn-engine/unicorn/blob/master/docs/COMPILE-NIX.md yet?

[code]

[2016-11-18 05:09] seem111 commented on #678
My linux is (Red Hat 4.4.4-13). So I can't find the libglib2-dev. Which dependency should I have?

[2016-11-18 05:22] aquynh commented on #678
This is why you cannot compile. You need libglib2, but i dont know if they
have that on this old Redhat version

[2016-11-18 05:26] aquynh commented on #679
Does it work on older OpenBSD? And does Qemu still work on v6.0?

Btw, make sure to use latest Github code all the time

[2016-11-18 13:08] oblivia-simplex commented on #679
Qemu seems to work fine. I just booted up a qemu-system-mips instance of a linux vm. Haven't tried Unicorn on older OpenBSD installs.

and yes I'm using a fresh pull from github.

[2016-11-18 13:11] oblivia-simplex commented on #679
Ah here's a workaround, apparently: http://undeadly.org/cgi?action=article&sid=20160527203200

using the "wxallowed" mount option.  One day far in the future
upstream software developers will understand that W^X violations are a
tremendously risky practice and that style of programming will be
banished outright.  Until then, we recommend most users need to use the
wxallowed option on their /usr/lo

[2016-11-18 14:13] aquynh commented on #679
is this on sample_arm.c? perhaps it is because we map memory as PROT_ALL at https://github.com/unicorn-engine/unicorn/blob/master/samples/sample_arm.c#L69 ?

[2016-11-18 15:12] oblivia-simplex commented on #679
I think that's probably the issue. In any case, the easiest workaround for me is to just edit /etc/fstab to include the option "wxallowed" for the /home partition, since that's where my dev projects usually live. Turns out that openbsd mounts /usr/local/bin as wxallowed by default.

[2016-11-18 15:12] oblivia-simplex commented on #679
I'm happy to mark this issue closed, now. Thanks.

[2016-11-18 15:12] #679 closed

[2016-11-18 15:18] aquynh commented on #679
if you change that `UC_PROT_ALL` to `UC_PROT_READ | UC_PROT_EXEC`, what happens?

[2016-11-18 15:21] aquynh commented on #679
anyway, would you mind documenting this issue + your solution, and send a pull req to put it under docs/ directory, so in the future other OpenBSD users can learn from it? something like docs/OPENBSD_NOTES.TXT will be fine, thanks.

[2016-11-19 05:14] fr0zenrain commented on #677
i think pc's lowest bit will not be 1 in fact, arm just set cpsr T bit,you can find an ELF symbol address lowest indicate code mode, PC in here also even, you can see that with a debugger. and i said the bug is env->thumb will overwrite,this will cause fetch code issue.thx

[2016-11-19 05:27] Normmatt commented on #677
yes if you read back pc it won't have that bit set... but setting pc with lowest bit changes cpsr T bit as you said.

[2016-11-19 15:45] oblivia-simplex commented on #679
Okay, so sample_arm still crashes on a non-wxallowed filesystem, even if I replace ```UC_PROT_ALL``` with ```UC_PROT_READ | UC_PROT_EXEC```, which makes me think that the issue is deeper in the library.

I'll write up some notes and issue a pull request for them in a little bit.  In the meantime, here's a quick hint at what your OpenBSD fstab entry should look like for the partition you plan to us

[2016-11-26 01:46] Grazfather opened #681 "unicorn failing when toggled between ARM and THUMB"
There's a tricky bit of code here: http://pwnable.kr/bin/leg.c

The inline asm in `key2` switches to thumb inline and then switches back.

[code]

However it fails with `ERROR: Invalid memory read (UC_ERR_READ_UNMAPPED)`

[code]

[2016-11-26 02:47] aquynh commented on #681
can you rewrite this as a self-contain testcase (no dependency on external module like pwn), then send a pull req to put it under `tests/regress/` dir?

[2016-11-26 03:00] Grazfather commented on #681
#682

[2016-11-26 03:01] Grazfather commented on #681
Didn't write it as a text case, just a script that crashes. Don't have time right now.

[2016-11-26 19:42] EverOddish commented on #117
I'm also interested in specifying a specific ARM CPU model. I've hard-coded it in my own build for now.

[2016-11-27 08:40] ThomasKing2014 commented on #674
About eight month ago, I tried to complile for Android. I modified the make.sh, here is:

SYSROOT=$NDKROOT/platforms/android-21/arch-arm
TOOLCHAINPATH=$NDKROOT/toolchains/arm-linux-androideabi-4.9/prebuilt/$PREBUILT_PATH/bin
export PATH=$TOOLCHAINPATH:$PATH

But I gets the same problem with @stephengroat . It seems that it needs to port qemu for Android platform.

cd qemu && \
	./configure --cc="a

[2016-11-27 09:37] aquynh commented on #674
I think NDK has pthread support by default. If you disable the part looking for pthread in qemu/configure (thus skip this check), what happens?

[2016-11-27 23:58] stephengroat commented on #674
I've made some progress on this, by setting `-I` and `-L` flags in the `qemu/configure` script (also ignoring checks for `libpthread` and `libm`), but i haven't gotten the binary to compile yet.

just making sure that this is worth is, what's the point of compiling this for android? since `qemu` is soft emulating every instruction, it's not like it's reaching out and touching any system specific d

[2016-11-29 01:46] aquynh commented on #117
which model do you use?

[2016-12-02 07:53] JohnSully opened #683 "RDGSBASE Invalid Instruction"
Sample code:
	uc_reg_write(uc, UC_X86_REG_RDX, &vT);
	uc_reg_write(uc, UC_X86_REG_RAX, &pctxt->gsBase);
	vT = 0xC0000102;
	uc_reg_write(uc, UC_X86_REG_RCX, &vT);
	const char *rgbWRMSR = /* WRMSR*/ "\x0f\x30"  /* SWAPGS */ "\x0f\x01\xf8" /* RDGSBASE rbx */ "\xF3\x48\x0F\xAE\xCB"  /* hlt */ "\xf4";
	uint64_t t_base = 0xffff0000;
	uc_mem_map(uc, t_base, 4096, UC_PROT_ALL);
	uc_mem_write(uc, t_base, r

[2016-12-02 09:32] aquynh commented on #683
would you mind sending a pull req with the full code as a testcase, and put it under either https://github.com/unicorn-engine/unicorn/tree/master/tests/regress (Python) or https://github.com/unicorn-engine/unicorn/tree/master/tests/unit (C) ?

[2016-12-16 04:17] wellcomez opened #685 "how to make such call chain work? guestcode->>host-code -->guest-code and so on"
how to make such call chain work?
 guestcode->>host-code -->guest-code and so on.
I guest i can use multi uc instances to make such process work. But i think it too ugly. Could anybody give me any suggestion to  hack unicorn ?  Such kind of call stack is so popular at real case. How to simulate it smoothly?

[2016-12-16 04:49] m4b opened #686 "remove glib dependency?"
Iirc, the only dynamic dependency besides regular system libraries is glib.

After investigating the `libunicorn.so`'s imports, it appears to only use a hash table implementation from glib.

I suspect this is inherited from the qemu code.

So, assuming the above is correct, how feasible would it be to replace the glib hashtable dependency with an internal implementation?

Some motivations for this

[2016-12-16 05:06] aquynh commented on #686
Yes, it is good to get rid of glib. Feel free to send us a pull req to
implement your idea.

[2016-12-16 05:31] wellcomez commented on #591
I have similar call sequence and maybe more complex, [guest code[  ---Invoke-->[host code[----callback to ---->[guest code]。Such kind of call stack is so popular at real case. How to simulate it smoothly?

[2016-12-16 05:34] wellcomez commented on #591
@lunixbochs stop won't release uc instance's mutex. At the point of system, such design is not re-enterable. [guest code[ ---Invoke-->[host code[----callback to ---->[guest code]。Such kind of call stack is so popular at real case.

[2016-12-16 05:49] cseagle commented on #686
This would be fantastic, but it would be useful to know what the transition path to a newer version of qemu is or we will need to do this all over again.

[2016-12-16 06:02] fr0zenrain commented on #685
multi uc instances shared a single memory?  i think maybe you need uc_emu_pause. you can pause emulator, and run your host code , also you can implement  that use guest code ,and emulate it , ha ha ha

[2016-12-16 06:18] fr0zenrain commented on #591
i think you can write arm lr to pc to control the emulator , you can't invoke uc_emu_start, and maybe you need write cpsr , and modify uc_reg_write source.

[2016-12-16 06:34] aquynh commented on #686
once we remove glib dependency, we will maintain that even when we sync with newer version of Qemu.

after release 1.0, i will try to find time to update the code with newer version of Qemu.

[2016-12-16 06:36] aquynh opened #687 "towards release 1.0"
i think we can release version 1.0-rc1 next week. the plan is to fix the known segfaults before v1.0.

currently we still have #646 & #645 issues, which are release blockers. anybody can look at that?

[2016-12-16 06:44] m4b commented on #686
It might be best to remove the dependency after the 1.0 release with the newer version of Qemu, since this may or may not introduce additional dynamic dependencies, and then you'll have a better starting point?

I would love to send a PR but:

1. I have too many projects in the boiler room right now and i need to finally finish some of them
2. I am _definitely_ not a strong enough C programmer to

[2016-12-16 07:51] aquynh commented on #686
yes, we can do that after v1.0, but since there is no major change until the release, you can start this work anytime.

[2016-12-16 10:08] cseagle commented on #686
It looks like GList is used as well, and perhaps more. I am trying to determine the level of effort required here.

[2016-12-17 09:19] ant1 opened #689 "tests/unit/test_pc_change fails with clang and UNICORN_DEBUG=no (-O3 optimization ?)"
With the following compilers:

- Ubuntu clang version 3.5.2-3ubuntu1 (tags/RELEASE_352/final) (based on LLVM 3.5.2)
Target: x86_64-pc-linux-gnu
Thread model: posix

- Ubuntu clang version 3.6.2-3ubuntu2 (tags/RELEASE_362/final) (based on LLVM 3.6.2)
Target: x86_64-pc-linux-gnu
Thread model: posix

- Ubuntu clang version 3.7.1-2ubuntu2 (tags/RELEASE_371/final) (based on LLVM 3.7.1)
Target: x86_64-p

[2016-12-18 23:33] cseagle commented on #686
I just submitted pr #690 that does this. It needs much more testing than I have done with it if anyone wants to test it with their current unicorn use cases.

[2016-12-19 09:37] aquynh commented on #686
@m4b: we now have a new branch "noglib" which removes glib dependency. please help to test it.

[2016-12-19 13:00] wellcomez commented on #685
@fr0zenrain In my case host-side code  is called inside of  code _trace_hook， at time uc is running nativecode and hasn't any chance to check it own state and don't it's paused by me.

[2016-12-19 15:23] mrphrazer opened #691 "Applying and removing hooks segfaults"
Unicorn segfaults if a hook will be set and then unset immediately. I tested it for ```UC_HOOK_CODE``` and ```UC_HOOK_BLOCK```

[code]

[2016-12-19 15:28] aquynh commented on #691
is this on the latest github code? can you send a pull req to put this testcase under tests/regress/ ?

[2016-12-19 16:23] aquynh commented on #691
this segfault should be fixed, but your code on `hook_del` is incorrect. it should be something like:

    h = mu.hook_add(UC_HOOK_BLOCK, hook_block)
    mu.hook_del(h)

[2016-12-19 16:38] mrphrazer commented on #691
I noticed my mistake a few minutes ago, thanks! However, the code above still segfaults in the newest version (at least in my setups)

[2016-12-20 02:11] wellcomez commented on #685
@fr0zenrain yes ,multi uc instances shared a single memory.

[2016-12-20 07:00] m4b commented on #686
whoohoo! checked out `noglib`, `make` and I've got a static lib and:

[code]

So looks good on that front.  I then hacked the current rust bindings to build unicorn from source with the `noglib` branch, and it builds and links properly, and passes all the tests on the [rust repo](https://github.com/ekse/unicorn-rs), so seems the replacement functions are working?

The C tests all pass on my side a

[2016-12-21 00:14] gdbinit opened #694 "sysenter emulation broken?"
I'm trying to emulate a binary that uses sysenter for executing syscalls. A UC_HOOK_INTR doesn't trigger (I assume it's only for syscalls via int 80) so I set a SYSENTER instruction hook.
There seems to be a bug inside Unicorn SYSENTER emulation because the following code infinite loops:
EADER:0000D708                         sub_D708        proc near               ; CODE XREF: sub_D70E+4p
HEADER

[2016-12-21 15:12] aquynh commented on #691
the returned hook handle is actually a pointer, which is referenced inside uc_hook_del(), thus triggers crash. unless we save all the handles, there is no way to verify invalid handle passed to uc_hook_del().

this issue is not a critical issue anyway.

[2016-12-21 16:19] lunixbochs commented on #691
We do save the handles into the linked list and shouldn't call free unless there was a handle in the list still. This is a bug that the code should handle.

[2016-12-21 16:23] aquynh commented on #691
oh i totally forgot that. the crash is due to this dereference on invalid input: https://github.com/unicorn-engine/unicorn/blob/master/uc.c#L1074

[2016-12-21 16:34] aquynh commented on #691
a simple way to fix this is rather than using the "while" loop, we just have a loop in which we remove the handle, regardless of the hook `type`. something like this:

[code]

is this OK?

[2016-12-21 16:39] lunixbochs opened #696 "running make twice fails the second time"
I'm on OS X

[code]

If I `make clean` it works fine. This is 100% reliable.

[2016-12-21 16:56] aquynh commented on #691
@mrphrazer, with the latest code, your test should not segfault anymore. can you confirm?

[2016-12-21 16:57] lunixbochs commented on #694
Where did you find documentation that SYSENTER returns to EDX? Everything I've found indicates it returns to the next instruction. I also think it's working fine in Usercorn. Which OS are you emulating?

If you need to do something other than the processor specification, like returning to EDX, you might need to use a trampoline like this psuedocode and issue a uc_emu_stop() in your sysenter hook.

[2016-12-21 17:01] lunixbochs commented on #694
Looking at QEMU upstream, the correct code should probably be this:

    env->regs[R_ESP] = env->sysenter_esp;
    env->eip = env->sysenter_eip;

I guess the `syscall` helper code for `env->eip += next_eip_addend;` was copied.

[2016-12-21 17:22] gdbinit commented on #694
Yes, EDX/RDX is coming from SYSEXIT documentation at Intel Manuals.

the env->sysenter_* probably point to same RDX and ECX values (I think I verified this), and they are the correct way to do it, since it's how the original code that was cut short was doing.

Not sure what's the best decision but current code is at least incorrect and useless for hooking SYSENTER without ugly start/stop code.

[2016-12-21 17:40] lunixbochs commented on #694
Send a pull request with the original two lines and it will be merged. I guess there's the indirection to account for 32 vs 64 bit.

[2016-12-21 18:44] mrphrazer commented on #691
I confirm, works now. Thanks!

[2016-12-21 18:44] #691 closed

[2016-12-21 18:54] cseagle commented on #694
There may be some confusion in the provided example. My understanding wrt sysexit is that while it does do:

eip/rip <- edx/rdx
esp/rsp <- ecx/rcx

The values in rcx and rdx are dictated by the kernel's sysexit handler and not necessarily dependent on the user space values of rcx/rdx at the time of the sysenter unless the sysenter handler chooses to make that happen.

I haven't looked at how qemu

[2016-12-21 19:13] lunixbochs commented on #694
Okay, so we need to come up with a good default behavior. I think there are multiple cases to consider. Someone could be emulating ring 3 code with no kernel. Someone could be emulating ring 3 code with a kernel. And in both of these cases they can have the SYSENTER hook installed or not.

It would be simple enough to restore the original QEMU behavior and document that if there isn't actually a k

[2016-12-21 19:26] cseagle commented on #694
I speculate that a lot of people that spend all their time in user space have no idea what an msr is and expecting them to set them up to make things work in a real world manner is probably asking a lot. Allowing them to call something like sysenter_returns_to(address) would allow them to hook sysenter and then allow the internal sysenter code to set eip/rip according to the user's desires so that

[2016-12-22 14:38] gdbinit commented on #694
I think a decision must be made about what Unicorn is and what is its main goal/purpose. It's definitely a very interesting tool to emulate user space code and with that in mind I think it should establish some assumptions about how users will want to run it and simplify things such as this. It should be easy to emulate the interface between user space and kernel, as easy as possible, because thos

[2016-12-24 17:46] aquynh commented on #696
confirmed. this can be reproduced with:

[code]

[2016-12-26 05:31] aquynh commented on #696
this should be fixed now thanks to commit https://github.com/unicorn-engine/unicorn/commit/06541894ea6dc2f187ffb7c63e40bb687e6e56e7

[2016-12-26 15:11] aquynh commented on #686
@m4b, can you help to test the branch https://github.com/unicorn-engine/unicorn/tree/noglib2? this should do the same thing as "noglib" branch.

[2016-12-26 17:40] danghvu commented on #646
same code upstream qemu : https://github.com/qemu/qemu/blob/master/translate-all.c#L1577

Not sure what is the implication of this sanitizer alert ?

[2016-12-26 17:54] danghvu commented on #645
Reference code in upstream qemu: https://github.com/qemu/qemu/blob/master/fpu/softfloat.c#L731

Looks the same as in unicorn, unless they have some check earlier to prevent this. It happens when value `aSig` is `0`, which makes number of leading zero `64`.

To please the sanitizer we may want change it to: `shiftCount = countLeadingZeros64( aSig ) % 64`

[2016-12-27 00:39] danghvu commented on #327
Is this still an issue ? Where is the PR @farmdve  we should refer it to for keeping track.

[2016-12-27 00:43] danghvu commented on #355
Several changes to the Makefile has been made since then, please open a new one if this is still and issue.

[2016-12-27 00:43] #355 closed

[2016-12-27 00:46] danghvu commented on #359
No update or discussion since then, please open a new one if this is still an issue.

[2016-12-27 00:46] #359 closed

[2016-12-27 00:51] danghvu commented on #391
No issue since then, close this for now, please feel free to open a new issue or reopen if needed.

[2016-12-27 00:51] #391 closed

[2016-12-27 00:53] danghvu commented on #394
PR is merged, no comment so close this for now. Please feel free to open a new one or reopen if needed.

[2016-12-27 00:53] #394 closed

[2016-12-27 01:00] danghvu commented on #462
No more requests from op, close for now, feel free to open a new one or reopen it if needed.

[2016-12-27 01:00] #462 closed

[2016-12-27 01:01] danghvu commented on #465
if this is still an issue please reopen it.

[2016-12-27 01:01] #465 closed

[2016-12-27 01:18] danghvu commented on #687
I revisit all issues, there are possibly more. Please go over and close if you know it is fixed:

https://github.com/unicorn-engine/unicorn/issues?page=1&q=is%3Aopen+is%3Aissue+label%3Abug

[2016-12-27 01:19] danghvu commented on #258
Please feel free to open a new one if you find more memory leak.

[2016-12-27 01:19] #258 closed

[2016-12-27 01:36] aquynh commented on #687
Yes there are still open issues, but i just listed those segfaults as critical that must be fixed for 1.0. The rest, without crash, can be fixed in future versions.

[2016-12-28 17:52] killpy opened #701 "unicorn emulate game on win7 x64"
I want to emulate run my online games on win7 x64， can unicorn do this？I thought for a few days but no ideas What information can refer to?Or give me some ideas thanks Maybe I can buy your sourcecode,Please contact me with email:killpy178@gmail.com

[2016-12-29 01:06] aquynh commented on #701
interesting, which game are you running?

[2016-12-29 09:09] aquynh commented on #686
i merged the branch "noglib2", and the "master" branch now longer uses glib. please report if you have any issues.

[2016-12-29 09:09] #686 closed

[2016-12-29 10:48] killpy commented on #701
http://lol.qq.com/

[2016-12-29 11:00] aquynh commented on #701
why cant you run LOL on Win7 64bit?

[2016-12-29 11:03] killpy commented on #701
I want to kill the game detection

[2016-12-31 05:29] m4b commented on #686
Whoohoo!

[2016-12-31 23:41] lunixbochs commented on #535
I think that's losing sight of the vision of Unicorn. The two comments in this thread are pretty different use cases. I think the core API should focus on CPU/machine emulation and a second library should exist for usermode or guest-OS-specific helpers on top of Unicorn (such as many of the Usercorn helper functions).

[2017-01-02 01:52] gdbinit commented on #535
What's the point of adding another library on top of another library?
If people want to build helpers and so on, fine.
If people just want to do some stuff with Unicorn without caring about finer low level OS details they should be able to do it easily, from a Unicorn supported API. That's where the value from Unicorn is, easy access to a emulation API, that can be set and run in a couple of minut

[2017-01-04 13:10] hedger opened #704 "VFP/Neon troubles"
I'm trying to emulate some code with NEON/VFP instructions, but can't make it work.
I am using freshly-compiled 32-bit unicorn with Python 2.7 bindings under Win10 64bit.
I tried running CPU code that should do the trick as advised in #571 and #446, but it fails with `UC_ERR_INSN_INVALID`. Neither can I run packaged regression test.
Am I missing something or is VFP support broken ATM?
[code]

[2017-01-05 03:37] aquynh commented on #358
i just merged the PR https://github.com/unicorn-engine/unicorn/pull/707, and now it cs_reg_write() can write to CPSR. please report if you still have issues.

[2017-01-05 03:37] #358 closed

[2017-01-05 04:39] aquynh commented on #662
we are moving towards v1.0 release, in few weeks. can you guys please update your bindings before that? most of the work is to add new APIs (since v0.9): uc_query, uc_reg_write_batch, uc_reg_read_batch, uc_mem_map_ptr, uc_mem_regions, uc_context_alloc, uc_context_save & uc_context_restore.

last time i checked, only Python & Haskell fully support all these new APIs.

[2017-01-05 14:59] adrianherrera commented on #662
Actually the Haskell bindings don't support all of those APIs. It is missing uc_reg_write_batch, uc_reg_read_batch and uc_mem_map_ptr. I'll look at implementing them as soon as I can.

[2017-01-05 15:54] lunixbochs commented on #662
The Go bindings support all of these APIs: https://godoc.org/github.com/unicorn-engine/unicorn/bindings/go/unicorn#Unicorn

[2017-01-05 20:39] cseagle opened #708 "batch mode reg read/write does not support emulating 64 bit archs on 32-bit platforms"
The "vals" argument to these functions is either "void *const *vals" or "void **vals", since sizeof(void*) is only 4 bytes on 32-bit platforms, how are we to specify full 64-bit values for 64-bit registers when emulating 64-bit architectures on 32-bit platforms? It seems like vals should be "uint64_t *vals"

[2017-01-05 21:51] lunixbochs commented on #708
Each val pointer will be cast to the target type, picked by the enum in the other list. This allows you to batch regs that won't fit in 64-bit, like FP or GDT regs. It has the exact same semantics as a single reg_read/write, but with fewer function calls to churn through.

This has a tradeoff (you need to build a list of pointers to values). I couldn't think of a better way to do it given the cons

[2017-01-05 22:10] cseagle commented on #662
I basically don't know go, but how do the go bindings support batch read/write of FPU/MMR etc (ie anything larger than uint64) since the functions take []uint64 and you derive pointers to each uint64 in your helpers. Are the uint64 themselves opaque somehow?

[2017-01-05 22:55] lunixbochs commented on #662
The Go bindings don't support special registers through the normal APIs yet. There's a special function for x86 mm registers. Was hard to reconcile with the type system and performance. I might just implement an opaque byte array special register read/write function.

[2017-01-06 00:14] cseagle commented on #662
That's basically where I am with the Java bindings. Special registers are a slippery slope. I barely have a handle on all the x86 oddities. I have no idea whether any of the other archs support anything larger than a 64-bit integer register type, but special cases would need to be added to deal with any of them.

[2017-01-07 13:51] hedger commented on #704
Can anyone check if `tests/regress/arm_fp_vfp_disabled.py` passes for you and post the results here?

[2017-01-09 01:23] aquynh commented on #662
turn out we need an API to free memory allocated by `uc_mem_regions()`, see https://github.com/unicorn-engine/unicorn/pull/373

i think we should rename `uc_context_free()` to `uc_mem_free()`, and we use this API to free memory allocated by both `uc_context_alloc` & `uc_mem_regions`. (i also thought about `uc_free`, but `uc_mem_free` seems a better name)

if there is no objection, i will make this

[2017-01-09 01:51] cseagle commented on #662
Why? With the elimination of the glib dependency, uc_mem_regions pointers should be able to be passed straight to free correct? In fact why do we have uc_context_free since a uc_context allocated by uc_context_alloc can also be passed straight to free?

[2017-01-09 02:11] aquynh commented on #662
in the above link, you can see that Windows code is using unicorn.dll library created by Msys. if we just use free(), this would mix Windows heap management code with Msys heap management code (note that free() of Windows & free() of Msys work differently).

so to be safe, the memory allocated by Msys must be freed by Msys as well. for this reason, we need to have an API to ensure that we allocate

[2017-01-09 03:15] cseagle commented on #662
This leads to the question, why is msys needed anymore following the elimination of glib? Does anyone have the chops to create a Visual studio solution file for unicorn? The incompatibility stems from the fact that mingw links against msvcrt.dll while anyone using Visual Studio is linking against MSVCRxxx.dll.

Also, the g_free function in glib_compat already does what you want to do with a uc_mem

[2017-01-09 03:20] aquynh commented on #662
so this line is actually wrong https://github.com/unicorn-engine/unicorn/blob/master/tests/regress/mem_64_c.c#L35, as we must not use `free()` there (but our own API)

@cseagle yes, that is g_free(), but we still need an API so user can free those memory allocated by Unicorn.

would love to use VS instead of Msys. i dont know if anybody is willing to do this, though.

[2017-01-09 03:23] aquynh commented on #662
btw, looks like we can remove all those pthread code now, thus make it easier to port to Visual Studio later. anybody wants to work on this?

[2017-01-09 07:06] cseagle commented on #662
Is it generally agreed that none of the mutex and thread signaling code is needed because there is exactly one cpu thread?

If that is the case then this task might boil down to replacing the timeout thread with platform specific timers to handle the timeout value.

[2017-01-09 07:51] aquynh commented on #662
yes i just removed lots of redundant sync code in qemu/util/qemu-thread-xxx

now the only code depends on pthread is the timer to stop emulation regarding the `timeout` param of `uc_emu_start()`.

[2017-01-09 12:55] aquynh commented on #662
@cseagle, @lunixbochs, @adrianherrera: i just committed a change to rename uc_context_free() to uc_mem_free(), in https://github.com/unicorn-engine/unicorn/commit/fdbbdc6216af3bacd1f61c149a5660bf51062dfe. please double check to make sure i did not make any mistakes when modifying your bindings.

[2017-01-09 13:04] aquynh commented on #662
@lunixbochs, turn out my last commit broke the Go binding: https://travis-ci.org/unicorn-engine/unicorn/jobs/190238018. can you fix this for me?

[2017-01-09 13:06] aquynh commented on #662
@cseagle, what do you think can be the remaining issues that we need to fix towards supporting Visual Studio?

[2017-01-09 13:09] sashs commented on #662
Hey, I will update the ruby bindings this week.

[2017-01-09 13:12] adrianherrera commented on #662
Haskell bindings look fine. I'll update the missing features this week.

[2017-01-09 16:11] lunixbochs commented on #662
I think uc_mem_free is confusing because there's also uc_mem_map etc which all talk about guest regions. I vote uc_free.

[2017-01-09 17:48] cseagle commented on #662
Off the top of my head, dealing with stdint.h which is not present in Visual Studio (at least older version like VS2010), and figuring out some way to approximate what ./configure does for qemu and how to deal with config-host.h.

There are probably other things as well.

[2017-01-09 17:55] cseagle commented on #662
I concur, if this is a general purpose UI to free memory allocated internally to unicorn, then uc_free makes the most sense

[2017-01-09 17:58] aquynh commented on #662
Ryan, i considered that too, but then went with uc_mem_free because (1) this is about memory, so the name is more clear (2) i already documented this API in unicorn.h, making it more clear.

But if most people want uc_free() rather than uc_mem_free(), i can change my mind.

[2017-01-09 18:08] lunixbochs commented on #662
It's not clear because (1) every other API in Unicorn prefixed with mem is talking about guest memory and this is a host function, (2) "mem_free" is redundant to anyone familiar with posix, and (3) it frees context objects which aren't under the uc_mem prefix

[2017-01-09 20:08] cseagle commented on #662
++

[2017-01-09 21:54] adrianherrera commented on #662
I also agree with @lunixbochs and @cseagle. uc_mem_free is not related to the other uc_mem_* functions, which is confusing.

[2017-01-10 03:08] cseagle commented on #662
I poked at this a little today.

stdbool.h is not available in VS 11.0 and earlier, this can be handled w/ ifdef blocks because stdbool.h only contains 4 defines.

inttypes.h is similarly not available. we probably need to include a local copy of an open source inttypes.h in this case perhaps from here: https://code.google.com/archive/p/msinttypes/
Alternatively we can figure out exactly what is u

[2017-01-10 03:45] aquynh commented on #662
no worry, those stdint/stdbool/inttypes.h are easy to handle. i did this for Capstone, and everything is in this file https://github.com/aquynh/capstone/blob/next/include/capstone/platform.h

[2017-01-10 03:55] aquynh commented on #662
to start, we can pre-generate all those auto-gen files, and make VS compile them.

[2017-01-10 12:28] hedger opened #710 "Python bindings leak references"
Due to `Uc` class having `__del__` method and hooks/callbacks creating circular references to `Uc` instances, they are never garbage-collected and remain in memory. In scenarios where user needs to create many `Uc` instances, they are never GC'd and quickly take up all available memory.

Refs: https://docs.python.org/2/library/gc.html#gc.garbage
https://docs.python.org/2/reference/datamodel.html?h

[2017-01-10 12:59] aquynh commented on #662
i renamed uc_mem_free() to uc_free() just now. please double check your bindings still work.

[2017-01-11 01:28] aquynh commented on #710
can you fix this issue?

[2017-01-11 15:26] hedger commented on #710
Fixed, #713.

[2017-01-11 18:26] danghvu commented on #704
Confirm this is failing on me too, not sure when it was broken (or ever green).

[2017-01-11 18:28] danghvu commented on #701
I don't think unicorn can help you unless you invest a lot of time writing codes (even so it's a maybe).

[2017-01-11 18:28] #701 closed

[2017-01-12 01:41] aquynh commented on #704
@mothran did something along this line before, so perhaps he will have some comments.

[2017-01-12 04:11] mothran commented on #704
@hedger try my branch located at https://github.com/unicorn-engine/unicorn/pull/684, I added example code in to enable the VFP using additional COPROC registers.

See if your ARM code will work when the example for initialization in: https://github.com/mothran/unicorn/blob/master/tests/regress/arm_enable_vfp.c

[2017-01-12 04:28] mothran commented on #704
Interestingly enough I am also seeing that test fail with a INSN_INVALID, @aquynh can you confirm?

Is it possible that in this test the instruction base address is 0x1000 but the mode is THUMB?

[2017-01-12 11:39] eltongo opened #714 "Weird behavior using python bindings"
I'm experiencing really weird behavior in Unicorn engine using Python bindings.

At first I was having trouble with this instruction:

`ADD W9, W9, #1`

It seemed this instruction was not causing any side effects, because, although executed, upon reading the value of W9, I was always getting 0.

After some experimenting, I noticed that in fact X9 changes, but W9 doesn't reflect any changes. Take f

[2017-01-12 14:37] lunixbochs commented on #714
Post a full example script please

[2017-01-12 14:48] eltongo commented on #714
Here's a complete code listing. Below you will see the output for the script, too.

[code]

[code]

[2017-01-12 14:54] eltongo commented on #714
Below is a complete listing which has a similar behaviour. W9 is always zero when read, while X9 changes.

[code]

Output:

[code]

[2017-01-12 15:36] hedger commented on #704
@mothran I cherry-picked your commits on top of `master`, rebuilt Python constants, and using following initialization code succesfully ran code with VFP operations:
[code]
@aquynh please consider merging #684, currently it is the only way to run VFP code.

[2017-01-12 15:43] #710 closed

[2017-01-13 11:08] xorstream commented on #662
I am hoping to have some time to look into porting to msvc over the next
week.
I didn't want to say anything till i knew i could spare some time.

Has anyone else worked on this in files that aren't part of the man repo?
Or almost finished doing it?
Just thought I'd check before I start looking into it and find someone has
already done it :)

On Wed, Jan 11, 2017 at 12:00 AM, Nguyen Anh Quynh <not

[2017-01-13 11:24] aquynh commented on #662
@xorstream, so everything is still good with your binding?

[2017-01-13 11:26] xorstream commented on #662
Oh I assumed if we had msvc native then the old msvc binding would be
superseded.

Is there any reason to keep the msvc binding if we have msvc native support?

On Fri, Jan 13, 2017 at 10:24 PM, Nguyen Anh Quynh <notifications@github.com

[2017-01-13 11:27] aquynh commented on #662
what do you mean? we dont have MSVC native support yet.

[2017-01-13 11:33] xorstream commented on #662
I have a few days to work on this.

I can spend it adding msvc bindings to the ming build dlls, or I could
spend it getting a native msvc build working.

I figure the way forward is a native msvc build so I should spend the time
doing that instead.

If I get a native msvc build working then there is no longer a need for
"msvc bindings" right?

On Fri, Jan 13, 2017 at 10:27 PM, Nguyen Anh Quynh <no

[2017-01-13 11:36] aquynh commented on #662
yes, i think very few people still need that if we have MSVC native build. you would be a hero ;-)

[2017-01-13 11:40] xorstream commented on #662
oh no, now you've gone and made it sound like it might be harder to do than
i expect! hehe

well i'll give it a go, and if i don't succeed i'll update the binding
instead :)

On Fri, Jan 13, 2017 at 10:36 PM, Nguyen Anh Quynh <notifications@github.com

[2017-01-13 12:16] aquynh commented on #704
well, the sample is wrong since when we decided that emulation in Thumb mode should start at odd address.

i push this commit https://github.com/unicorn-engine/unicorn/commit/353dc99af6d9469155e74f66129cdfe2d248e9fa, and `arm_fp_vfp_disabled.py` passes the test now.

[2017-01-13 18:24] hedger commented on #704
Thanks, it works. For anyone who comes across this issue - here's valid initialization code for current version, based on `arm_fp_vfp_disabled.py`:
[code]

[2017-01-13 18:24] #704 closed

[2017-01-14 20:49] naweiss opened #717 "Imports Table"
I'm using the python bindings to try and emulate unpacker.
I the process the code uses LoadLibraryA and some other imports.
I maped all the sections of the PE into Unicorn, but when trying to run the code I get the following message:

[ mem_fetch_unmapped: faulting address at 0x82a0 ]
[ HOOK_MEM_FETCH - Address: 0x82a0 ]
[ mem_fetch_unmapped: faulting address at 0x82a0 ]
[ HOOK_MEM_FETCH - Address

[2017-01-14 21:27] cseagle commented on #717
My guess is that's upx. Independent of that, even though you mapped the pe
into unicorn you may not have resolved the addesses of imported functions
in the iat so you are not reading the address of and calling out to
LoadLibrary.

You will need to decide how you want to deal with the call to LoadLibrary.
You probably don't want to load all of kernel32 and emulate into it. One
approach would be to

[2017-01-14 22:12] Thiefyface opened #718 "Negative Offset for FS: segment register failing"
It seems that negative offsets from segment registers end up accessing the
absolute value of the offset given, and not the negative offset.
[code]
__Error when emulating code:__
[code]
__Instructions at time of crash:__
[code]
__Registers at time of crash:__
[code]

__Parameters from UC_HOOK_MEM_INVALID:__
[code]

__Temporary Workaround:__

The following was what I was using to get around FS: and

[2017-01-14 22:33] cseagle commented on #718
Sorry, I'm on mobile atm, but x86_64 uses MSRs to specify the base of the
fs and gs segments. I don't recall how unicorn supports writing to MSRs but
that might be necessary.

If we assume in your example that fs base is zero, then the expected memory
access goes to [0 + rax] == [0+ 0xffffffffffffff98] which seems to have
been correctly computed by unicorn.

If the code you are emulating uses nega

[2017-01-14 22:43] eltongo commented on #714
Alright, so after taking a look at the code, I noticed that the code responsible for handling reg_write and reg_read for AArch64, only handled registers X0 through X30 and PC/SP. I have submitted a pull request accordingly.

[2017-01-15 00:59] Thiefyface commented on #718
For the situation that I previously listed:
[code]
I was expecting that `mov eax, dword ptr fs:[rax]` would be equivalent to `mov eax, [0x800 + 0xffffffffffffff98]`. If my understanding is correct, this would have overflowed and wrapped around into the valid address space that I had mapped before.

This did not occur though, since the CPU ignored the value of $fs and accessed 0xffffffffffffff98, a

[2017-01-15 01:03] lunixbochs commented on #718
You should use WRMSR to write the FS_base and GS_base MSRs instead of setting FS as a normal register. Additionally Unicorn should probably get support for these MSRs in the register read/write code. FS is a segment selector which isn't really useful on 64-bit.

[2017-01-15 10:43] #714 closed

[2017-01-15 12:09] naweiss commented on #717
I didn't understand your answer.
I can run LoadLibraryA in python,but how to attach the result back to Unicorn?
Can you give me some code (even Pseudo-Code) so I will understand you better?

[2017-01-15 16:20] cseagle commented on #718
The only case in which fs contributes directly into an address computation is in 16-bit mode.

In 32-bit mode, fs holds an index into a descriptor table from which the base of the fs segment is retrieved, and to which your offset is added. So, in 32-bit mode you would need to ensure that an appropriate descriptor had been initialized and that fs held the index of that descriptor.

In 64-bit mode,

[2017-01-15 17:00] cseagle commented on #717
Sure, you can call LoadLibraryA from Python. I wouldn't load any library that the code you are emulating happens to ask for as you would just be running code on behalf of the emulated code, and in any case the library that it is requesting may not even be available on your system or you might be emulating code on a non-Windows system.

You said you mapped all the section of the PE. During that tim

[2017-01-15 17:17] Thiefyface commented on #718
Thank you very much for all the information/clarification, I guess I did have a fundamental misunderstanding. I'm going to close the issue, but as previously mentioned I do think that it would be a good addition to Unicorn if there was MSR functionality added.

Cheers.

[2017-01-15 17:17] #718 closed

[2017-01-16 01:21] xorstream commented on #662
Is it ok to ask questions about porting to msvc native in this email thread?
Or should we start a new one?

If a new thread is preferred can you please start one up and include anyone
who might be able and interested in helping or answering questions? Also
move the question below into the new thread if new thread is required.

So far I have added a platform.h file, based on the one from capstone w

[2017-01-16 01:40] aquynh commented on #662
yes, please open a new issue on MSVC porting.

regarding the error_report() function, yes you can replace that with a simpler function. will see how to patch it back later.

[2017-01-16 01:54] xorstream opened #719 "MSVC native port"
I am opening this issue as a place to pose questions during the port of unicorn to MSVC.

[2017-01-16 01:55] xorstream commented on #662
Ok I have done so at https://github.com/unicorn-engine/unicorn/issues/719
In case anyone wants to be involved.

On Mon, Jan 16, 2017 at 12:40 PM, Nguyen Anh Quynh <notifications@github.com

[2017-01-16 13:27] fr0zenrain commented on #704
@aquynh  if Thumb mode should start at odd address.it can be emulate a real world file,such as android shared library #677

[2017-01-16 14:47] fr0zenrain commented on #717
i have emulate the ELF upx x86 before, it  was running ok.the only one you need caution was the instruction with fs &gs. i didn't have test PE.

[2017-01-16 15:00] naweiss commented on #717
@cseagle Thank you very much.
I took your idea and changed it a little so it we suite my needs.
But I still have little question: what is the minimal value of mem_map?
I tried to map something like 10 bytes but the map falied

[2017-01-16 16:21] cseagle commented on #717
You need to map multiples of pages (4096 bytes)

On 1/16/2017 7:00 AM, naweiss wrote:

[2017-01-17 16:20] #717 closed

[2017-01-18 23:09] ronakdborad opened #720 "Error while installation"
I am trying to install unicorn.
After doing compilation when I install it using sudo ./make.sh install, I am getting following error.

if [ "x86" != "`cat config.log`" ]; then make clean; fi
rm -rf libunicorn* unicorn*.lib unicorn*.dll && cd qemu && make -j 8
rm: cannot remove ‘libunicorn.a’: Permission denied
rm: cannot remove ‘libunicorn.so’: Permission denied
make: *** [compile_lib] Error 1

My

[2017-01-19 01:20] aquynh commented on #720
how can you have this "permission denided" with "sudo"?

did you do exactly this?

[code]

[2017-01-19 01:53] egberts commented on #562
Yeah, its not solved yet.
It is a design flaw of QEMU.
It runs invalidation twice if found within the same Translation Block.
Since XOR was emulated twice on a memory location also within the same TLB, it became essentially a NOP code modifier.

[2017-01-19 11:28] xorstream commented on #719
Wow well after much work I have the x86_x64-softmmu specific part of unicorn enigne buiding in msvc.

One thing that I still need to fix is the atomic operations. I haven't had experience with this before and from reading about it, it sounds like something that I could do incorrectly and then cause weird random bugs that are hard to track down. So I am hoping someone can help me implement these co

[2017-01-19 11:31] aquynh commented on #719
We dont have SMP or multithread anywhere, so i believe you can safely
ignore these atomic stuffs.

[2017-01-19 11:34] xorstream commented on #719
Ok cool. I'll leave the "TODO" markers in place to help make it clear that they are not implemented.

Hopefully porting across the other target CPUs will be easier since common code will already be done and I have solutions worked out now for lots of the "gotchas".

[2017-01-19 11:41] aquynh commented on #719
Fantastic! You can make pull req as soon as possible.

[2017-01-19 11:54] xorstream commented on #719
Are 64bit versions of unicorn working?
If so I will add builds for 32bit and 64bit.

[2017-01-19 11:56] aquynh commented on #719
Yes, msys build works well for both 32bit & 64bit.

[2017-01-19 14:02] Nukem9 commented on #719
@xorstream I think the MSVC `MemoryBarrier();` or `_ReadWriteBarrier();` intrinsics would be sufficient as they prevent cpu/compiler reordering. (If you want to replace it - I'm not familiar with gcc syntax)

https://msdn.microsoft.com/en-us/library/windows/desktop/ms684208(v=vs.85).aspx

[2017-01-19 18:29] ronakdborad commented on #720
Thanks for your response.

I have done exactly that. But the error is still there. Below is the trace:

rborad@ESPRIMO-E920-Ubu:~/driller/unicorn-0.9$ ./make.sh
if [ "x86" != "`cat config.log`" ]; then make clean; fi
rm -rf libunicorn* unicorn*.lib unicorn*.dll && cd qemu && make -j 8
make[1]: Entering directory `/home/rborad/driller/unicorn-0.9/qemu'
make[1]: Leaving directory `/home/rborad/drill

[2017-01-19 18:39] danghvu commented on #720
This is weird, can you do a `./make.sh` then do a `ls -al` and report the result here. Do you have problem with `sudo` in other places ? for example `sudo id` listed as root ?

[2017-01-19 18:57] #720 closed

[2017-01-19 19:01] danghvu commented on #720
So what went wrong @ronakdborad ? Please leave a note for future reference.

[2017-01-19 22:47] xorstream commented on #719
@Nukem9 Yes they are one of the ones I was reading about. I just wanted to be 100% sure they were the right ones and weren't too heavy handed also. It seems there are solutions that work but take much longer they they need to.

I would like for someone who is 100% sure to fill in those lines, or provide code for them so I can fill them in. If this person is you then please do so :)

[2017-01-20 03:31] aquynh commented on #719
Unicorn is now single-thread, but not a concurrent program like original Qemu, so this really does not matter. i guess we can define all these atomic macros like `(void)0`.

[2017-01-20 03:39] xorstream commented on #719
ok.
still working on this. small progress update:

sample_x86.c is now running in native 64bit, although crashing near the end of it's tests. maybe timer related.

sample_x86.c in 32bit mode is crashing strangely before it manages to run any of the tests. i think due to function param handling as while debugging it looks like the first param is in eax instead of on the stack.

[2017-01-20 03:41] xorstream commented on #719
I am thinking that once i have x86/x64 cpu working without issues i will submit a pull request so that ppl can have a look at the various changes i have had to make so far. Then based on whether they are horrified, or have any suggestions etc I will continue with the other cpu support.

[2017-01-20 04:13] aquynh commented on #719
Good idea, cant wait!

[2017-01-20 05:21] xorstream commented on #719
Are you sure it is single threaded?
I notice uc.c : enable_emu_timer() starts a timeout thread.

[2017-01-20 05:25] aquynh commented on #719
Yes that is the only place, and only when you emulate with timeout. But i
dont think this needs memory barrier, like in original Qemu.

[2017-01-20 06:14] cseagle commented on #719
This probably needs to be changed to SetTimer on windows and setitimer on Linux. OSX seems to lack useful timers.

On 1/19/2017 9:21 PM, xorstream wrote:

[2017-01-20 06:20] xorstream commented on #719
Ok 32bit and 64bit versions of sample_x86 are now working without crashing :)
There was a double free bug in the existing win32 thread code.

[2017-01-20 06:22] aquynh commented on #719
cool, can you send a separate pull req to fix that double free bug?

[2017-01-21 02:44] aquynh commented on #719
we now have a new branch for this MSVC native port at https://github.com/unicorn-engine/unicorn/tree/msvc. so far only x86 is supported. please help to test it.

[2017-01-21 03:12] aquynh commented on #719
i did some cleanup on platform.h. actually termios.h & strings.h are not needed at all.

[2017-01-21 03:23] aquynh commented on #719
@stephengroat, do you think it is possible to add Visual Studio support to Appveyor?

[2017-01-21 04:17] stephengroat commented on #719
yup, let me look into it.
i've also been working on getting mingw-w64 ported over to os x in homebrew, so there should be an opportunity to have that build up pretty soon

[2017-01-21 11:12] aquynh commented on #719
@xorstream, i opened the latest file `msvc_native.sln` in VS2015, then chose menu "Rebuild unicorn", and got 65 errors & 78 warnings. do you have the same issue?

[2017-01-21 11:14] xorstream commented on #719
I get zero warnings or errors in VS2012 when I build all 3 projects in
debug/release 32bit/64bit modes.
So 12 builds in total and all are successful with 0 warnings or errors.

What kind of warnings and errors do you get?

On Sat, Jan 21, 2017 at 10:12 PM, Nguyen Anh Quynh <notifications@github.com

[2017-01-21 11:17] xorstream commented on #719
I just checked out the current "msvc" branch you added, ready to start on other cpus, and can confirm that still no warnings or errors.
'''
========== Rebuild All: 12 succeeded, 0 failed, 0 skipped ==========
'''

[2017-01-21 11:20] aquynh commented on #719
here is the output i got.

[code]

[2017-01-21 11:31] xorstream commented on #719
Ah not too bad, looks like only 2 issues really.
MS started to actually support some C stuff from vs2013 onwards from what I read while porting this.
I've made some changes, I'll push them now.

[2017-01-21 12:01] xorstream commented on #719
Did u see the pr?
It fails the build tests, but that appears to be unrelated.

[2017-01-22 02:36] cseagle opened #727 "MIPS fails to branch when single stepping"
When running mips code one instruction at a time, the CPU fails to follow any branches.

The following was placed in a loop:

`uc_emu_start(uc, pc, 0xffffffff, 0, 1);`

Refer to the attached mips_trace.txt and mips_disasm.txt to see details.

In short, branches, jumps and jal at 0x004014AC, 0x004014CC, 0x004014E4, and 0x00401580 are not followed (along with many others.

Links to code may be found

[2017-01-22 05:37] aquynh commented on #719
after you move this under msvc/, build successes. there are still some warnings, though. below arethe output of Debug/Win32 & Release/X64

[code]

Release/X64

[code]

[2017-01-22 05:42] aquynh commented on #719
it seems by default this only builds static lib. can we build both unicorn.dll & unicorn.lib at the same time?

another thing: the resulted binaries are put at different places, like `msvc\win32\debug\` & `msvc\x64\release`. can we put them all under the same directory, such as `msvc\bin\`?

[2017-01-22 05:45] aquynh commented on #719
at this moment, are we still missing support for all the archs, except x86?

[2017-01-22 05:56] aquynh commented on #719
what is the oldest MSVC version are we supporting?

[2017-01-22 06:55] stephengroat commented on #719
#728 starts building the msvc folder as a separate appveyor build

[2017-01-22 07:18] xorstream commented on #719
I have VS2012 here, so that's what I am doing the port using.
Is a 5 year old version of MSVC old enough? hehe

I have issued a p.r. to fix the isnan() warning you pasted above.

[2017-01-22 07:39] xorstream commented on #719
Yes only x86/x64 atm, tho mips support is almost done.

And yes atm this only builds a static lib, I will add building a dll too at some point during this port.
We can move successfully built files somewhere, but need to decide on a naming convention for them all.
There will be a dll+lib pair (for the dll) and just a lib by itself for the static lib.
There will also be 32bit and 64bit versions of

[2017-01-22 08:18] aquynh commented on #719
yes, VS2012 is fine. we just need to document it somewhere this requirement.

yes, by default lets build Release versions only.

personally, i prefer MS runtime built in statically.

[2017-01-22 08:26] aquynh commented on #719
what do you think about renaming msvc/msvc.sln to msvc/unicorn.sln?

[2017-01-22 10:05] xorstream commented on #719
I have no issues with renaming the solution file.
I tend to just name is the same as the directory it is inside of by default cos it makes it easy for me to find it.
But during the move from binding to root i decluttered that dir so it'll be easy to find anything there now anyway.

I'll do this as part of the next pr.

[2017-01-22 10:06] xorstream commented on #719
I plan to add the msvc version and build settings etc to the readme.txt file too once this is done. For now that file is a just kind of notes and stuff.

[2017-01-22 13:40] aquynh commented on #719
i just cleaned up the code a bit.

you include "winsock2.h" in some places. why do we need that?

[2017-01-22 13:44] xorstream commented on #719
Windows doesn't have the ability to sleep at the microsecond level.
It can do millisecond sleeps only.
Upon googling I found that the generic solution for this is to perform a sockets select() function with a microsecond timeout value.

From what Chris said it looks like in the future we will replace this timeout thread with OS based timeout functions, but for now I just used the select() "hack" t

[2017-01-22 14:52] mrphrazer opened #731 "Replacing return address in memory access hook segfaults"
The following workflow segfaults:

1. Start emulation from START to END, whereby END will be set at runtime
2. Hook read memory access
2.1 If return instruction reads return address:
2.1.1 Replace return address with END
2.1.2 Map memory at END
2.1.3 Write NOP opcode to END address

2.1.1 -- 2.1.3 work if they are set before the emulation. Also inside the handler everything works. It crashes after

[2017-01-22 15:22] dummys opened #732 "Building unicorn engine 32bit with python2-32 for IDA pro under Arch linux"
Hi,
I'm struggling make it work. I successfully compiled the engine and tested it with samples.
Using the make.sh with: _UNICORN_QEMU_FLAGS="--python=/usr/bin/python2-32" make.sh linux32_  is not working due that in the make.sh under linux32 there is already the unicorn_qemu_flags used.
I modified the make.sh to test:

And I was able to compile and install it.
My  problem is with the python bindin

[2017-01-22 15:30] aquynh commented on #732
try avoid hacking if possible. in `make.sh`, if you change the line

[code]

to

[code]

then compile again with:

[code]

does it work for you?

[2017-01-22 15:38] aquynh commented on #732
on the "package not found" issue, can you uncomment the 2 lines at https://github.com/unicorn-engine/unicorn/blob/master/bindings/python/unicorn/unicorn.py#L87-L88, then reinstall the Python binding (with `cd bindings/python; sudo make install`), then try to `import unicorn` in Python again. what is the output now?

[2017-01-22 15:44] dummys commented on #732
I think I need to do some cleaning. Because I tried installing first unicorn with make install and not make.sh.
So first:
UNICORN_QEMU_FLAGS="--python=/usr/bin/python2-32" make.sh linux32
Then sudo make.sh install ?

[2017-01-22 15:46] aquynh commented on #732
yes, better to use `sudo ./make.sh install`

[2017-01-22 15:46] dummys commented on #732
Yes, seems to be not working, look the output I pasted

[2017-01-22 15:49] dummys commented on #732
For python error: in the doc it's written:
1. Installing on Linux:
	$ sudo python setup.py install
My  problem is that I need to install it for the /usr/lib32/python2 install and not the normal python 64 bit install
So is it ok if I do sudo /usr/bin/python2-32 setup.py install ?

[2017-01-22 15:50] aquynh commented on #732
yes `make.sh install` installs to system directory, which is based on the architecture. so installation does not work for cross-compile.

[2017-01-22 15:50] dummys commented on #732
output of the command:

[2017-01-22 15:51] dummys commented on #732
Same problem, it seems it didn't find the unicorn bindings at all:

[2017-01-22 15:58] aquynh commented on #732
i pushed a commit so you can use Python2 to cross-compile Linux32 at the same time: https://github.com/unicorn-engine/unicorn/commit/0c55648deec70927b00c83bd7cd69aebeb8583af

i think you dont need to do system-wide install for IDA, but just ccopy Unicorn Python module somewhere for IDA to find that. section A3 of http://www.keystone-engine.org/keypatch/ maybe useful for you.

[2017-01-22 16:02] dummys commented on #732
Ok thanks, I tried to use this plugin: https://github.com/36hours/idaemu

[2017-01-22 16:08] dummys commented on #732
After trying your idea I get this:

[2017-01-22 16:25] dummys commented on #732
tried to add the folder unicorn to my sys.path in IDA, same problem...

[2017-01-22 16:41] dummys commented on #732
Same kind of error when I try to use the keypatch:

[2017-01-22 17:53] dummys commented on #732
Hashlib seems to be bugged with the python bundled in IDA...

[2017-01-22 21:41] mrphrazer commented on #731
Here is a valgrind trace:

` valgrind --tool=memcheck --leak-check=full --track-origins=yes --suppressions=valgrind-python.supp python2 -E -tt ./test.py`
[code]

[2017-01-23 01:08] xorstream commented on #719
@stephengroat can you please update the AppVeyor msvc build to use:
C:\projects\unicorn/msvc/unicorn.sln
instead of
C:\projects\unicorn/msvc/msvc.sln

Thank you

[2017-01-23 01:21] stephengroat commented on #719
already updated

On Sun, Jan 22, 2017 at 5:08 PM xorstream <notifications@github.com> wrote:

[2017-01-23 01:21] aquynh commented on #719
yes i just did it myself.

[2017-01-23 04:21] xorstream commented on #719
ok, so it was just something in the yml file ehehe. feeling a bit dumb now.

I have started on the sparc port.
I notice that the following files are present but don't appear to be used in the build process, is this done on purpose?
unicorn\qemu\hw\sparc\sun4m.c
unicorn\qemu\target-sparc\machine.c
unicorn\qemu\target-sparc\gdbstub.c

[2017-01-23 04:26] aquynh commented on #719
pull the latest code, i already removed some of them: https://github.com/unicorn-engine/unicorn/commit/0680b8592029c8a69d47477128151ff5455d0aee

[2017-01-23 04:29] xorstream commented on #719
those files still exist in the latest codebase.
but the makefile.objs files do not include them in the build process.

[2017-01-23 04:34] aquynh commented on #719
you are right, i just pushed a commit to clean them.

[2017-01-23 07:53] aquynh commented on #732
why hashlib has anything to do with Unicorn?

so can you use Unicorn with IDA yet?

[2017-01-23 08:15] cseagle commented on #732
My recommendation to IDA users is to always install a supported 32-bit Python for your platform rather than the version that ships with IDA so that you receive python updates via your platform's official update mechanism

[2017-01-23 09:15] aquynh commented on #732
@cseagle, yes we can always install the standard Python (from python.org), but then how to tell IDA to use that, rather than its own Python?

another thing: can we install "idaapi" & "idc" Python modules independently with standard Python, so we can "import idc, idaapi" in independent Python code, without having to run this under IDA environment?

[2017-01-23 09:19] dummys commented on #732
@cseagle @aquynh Yes I followed this documentation: [ida with python and pip](http://www.hexblog.com/?p=726) but on my arch linux it's not working, when starting ida, I get a "import error" for the "time" module...

[2017-01-23 10:03] dummys commented on #732
@aquynh I found a post by @cseagle on IDA forum:

I'm trying his technic now.

[2017-01-23 14:30] aquynh commented on #719
now with the m68k port, it fails to build on Win10+VS2015

[code]

[2017-01-23 14:44] xorstream commented on #719
It looks like its a VS2015 issue.
https://connect.microsoft.com/VisualStudio/feedback/details/976983

I have just added and pushed the suggested fix from that page.

[2017-01-23 15:00] aquynh commented on #719
with that fix, i still get error.

[code]

[2017-01-23 15:09] dandonov opened #737 "Segment register ignored while emulating 16-bit x86 assembly"
It seems that the emulator does not handle the following instruction properly:

66 a3 xx 00     mov ds:XX, eax

Instead the instruction is shown as **mov dword ptr [0xXX], eax** which effectively ignores the segment register.

Please, see the attached 16-bit x86 vbr1.bin file to reproduce the behavior (the instruction is at offset 0xa5)

The emulator was created as follows:

emu = unicorn.Uc(unico

[2017-01-23 15:21] dummys commented on #732
@cseagle I can't make it work with your technic:

[2017-01-23 15:24] xorstream commented on #719
I recommend getting latest code from arm pr and opening the solution file included with it. Your solution/project settings appear to be out of date and probably aren't being updated once you have converted them to vs2015.

[2017-01-23 15:30] aquynh commented on #719
no, i did fresh clone, with your commit "Fix issue with VS2015 shlobj.h file" cherry-picked, and got the error above.

[2017-01-23 15:41] dummys commented on #732
Ok I finally figured it out with the help of hexrays support.
First I removed /opt/ida/libpython27xxx and moved /opt/ida/python/lib/*
Then I simlinked /usr/lib32/python2.7 in /opt/ida/python/lib
Then I copied back folder ida_32 and ida_64 from old /opt/ida/python/lib/python2.7/lib-dynload to /usr/lib32/python2.7/lib-dynload.
My python2.7 external is working normaly now.
I know it's a mess, but nex

[2017-01-23 15:42] cseagle commented on #732
You don't need to tell Ida to use it. It will find it if it's present in my experience.

Also, you cannot use idaapi and idc without ida as far as I know.

[2017-01-23 15:50] dummys commented on #732
In Arch linux it's not working... When I removed the python from ida, it says that the ELF was wrong, because it use my system's python which is 64bit. I tried with PYTHONPATH, PYTHONHOME and LD_LIBRARY_PATH without luck, It make a big big mess on Arch Linux as well. For me it's the cleanest way to do it on Arch linux.

[2017-01-23 16:16] cseagle commented on #737
What are you using to disassemble as Unicorn does not disassemble. FWIW, ds is the assumed segment for that instruction so many disassemblers will not display they prefix as it is redundant. Also it seems strange that you are seeing eax in 16-bit code since it is only available in 32 and 64-bit code.

[2017-01-23 16:35] dandonov commented on #737
I'm using capstone to disassemble. Here's a snippet:

def dis(mem, addr):
    md = capstone.Cs(capstone.CS_ARCH_X86, capstone.CS_MODE_16)
    return '\n'.join(['%s %s' % (i.mnemonic, i.op_str) for i in md.disasm(bytes(mem), addr)])

...

def _hook_code(self, emu, addr, size, user_data):
   ...
   mem = emu.mem_read(addr, size)
   logger.info('0x%x: %s\t %s', addr, binascii.hexlify(mem).decode('asc

[2017-01-23 17:10] #732 closed

[2017-01-23 17:12] cseagle commented on #732
Most sane 64-bit Linux distros offer you a way to install 32-bit packages. I don't know how to do that on Arch. On Fedora, all I need to do is "dnf install python.i686" Debian/Ubuntu are similar w/ apt-get

[2017-01-23 17:59] lunixbochs commented on #737
Unicorn doesn't show decoded instructions, so that would be a Capstone bug.

Additionally, in 16-bit real mode, an 0x66 prefix indicates 32-bit operand size (so eax instead of ax) as per this table http://wiki.osdev.org/X86-64_Instruction_Encoding#Operand-size_and_address-size_override_prefix

[2017-01-23 18:07] dandonov commented on #737
The memory access hook still shows that the memory address being written is 0xXX as opposed to DS:XX which should be the case. In my case DS is 0x7c0 and DS:XX points to a different location than just 0xXX.

[2017-01-23 18:25] lunixbochs commented on #737
That's a red herring. Some operations have implicit segment encoding. 16-bit MOV implicitly receives the data segment in many assemblers. Here's Keystone for example:

[code]

rasm2 generates the same output:

    $ rasm2 -b16 'mov [0x11], eax'
    66a31100

I think it's more likely the issue is the data segment setup failed, than anything is wrong with mov instruction decoding in all of unicorn,

[2017-01-23 18:30] dandonov commented on #737
I'll post later today the full code that I'm using to emulate the MBR bootstrap code. It would show how the memory is set up and also the behavior that seems buggy in my eyes. Thank you for your time!

[2017-01-23 21:54] dandonov commented on #737
So, here's a sample code that loads the attached above MBR code and emulates it:

[code]

If you run it you'd get the following output:

[code]

The instruction at 0x7c7b should read a byte from 0x7c24 (DS = 0x7c0 at that point) but instead the emulator reports that the read happens at 0x24 instead. Same goes for the write operation we have discussed above.
Am I doing something wrong?

[2017-01-24 02:21] xorstream commented on #719
A "rebuild solution" should rebuild all the projects that were completed.
As of the pr for the arm support, all projects are completed and so set to be built.

I don't understand why then it is skipping some of those projects in your above build log.
That is why I thought you were using an old copy of the project files where not all projects were enabled to build yet.

Can you double check that yo

[2017-01-24 03:22] aquynh commented on #719
i got another Windows machine, and did fresh clone. this time i could build the latest code, without issues.

on the previous machine, i did fresh clone on a new directory, then compiled with "Rebuild solution". for some unknown reasons i got the error above. will check that again the "Configuration Manager" later today to see if all the projects checked. but anyway, it was all default settings, s

[2017-01-24 03:24] aquynh commented on #719
so is it all done now, or you still have something in TODO?

[2017-01-24 03:28] aquynh commented on #719
Travis still reports some errors on arm64 sample: https://travis-ci.org/unicorn-engine/unicorn/

[2017-01-24 03:55] xorstream commented on #719
Yeh I am currently double checking the arm code.

Once that is fixed I need to add a project to build a dll, as well as the static lib, and decide on where to put the final built files. I am thinking something like "unicorn\msvc\distro" as the final dir, so it would have files like:

unicorn\msvc\distro\unicorn\*.h
unicorn\msvc\distro\Win32\unicorn.lib
unicorn\msvc\distro\Win32\unicorn_dll.lib
uni

[2017-01-24 05:25] aquynh commented on #719
your "distro" tree looks good to me, except that the header files better be put into "distro\include\unicorn\*.h" instead.

[2017-01-24 09:30] lunixbochs commented on #737
Someone was complaining about this in an earlier issue I think. It's possible 16-bit Unicorn isn't starting in Real Mode, so the segment register is a selector instead of the segment base.

[2017-01-24 11:55] xorstream commented on #719
On the subject of distro files again.

The dll project and static lib project need to have different names.
The dll project also produces a lib file used to build programs that will dynamically link the dll.

Since the dll will exist at runtime but the static library will be built into the program, I think it is better to call the dll and its associated lib file unicorn.dll and unicorn.lib.
Then n

[2017-01-24 12:01] aquynh commented on #719
Interesting question. I am wondering how other open source frameworks deal
with this situation.

[2017-01-24 12:04] xorstream commented on #719
If no preferences I might just go with unicorn_static.lib for now as I need to finish this up tonight as I was only supposed to work on this for last week hehe. I need to get back to work now. I only get blocks of time to work on stuff between projects.

Changing the lib name is a simple enough process if required anyway.

[2017-01-24 12:55] xorstream commented on #719
The emulation timeout ability is currently at the microsecond scale.
Is there any reason why it needs that much precision?
Surely most ppl would just timeout after whole seconds?

I ask because the microsecond sleep is currently implemented in msvc by a call to select() which requires winsock. I feel it would be better to settle for windows' millisecond sleep function and then not have to link in

[2017-01-24 13:17] aquynh commented on #719
there is no specific reason, just because i could do that when i designed that API :-)

changing to millisecond will break compatibility, and this will affect apps relying on microsecond timeout?

thoughts?

[2017-01-24 13:20] xorstream commented on #719
The API doesn't need to be changed, just the timeout under the hood.
If the user says to timeout after 10us it might instead timeout after 1ms.
Unless their code relied on us timeouts for some reason it wouldn't matter.

I do have some faint recollection of windows only actually sleeping if the timeout is ~10ms or more though. Which means the sleep resolution would be on the 10ms scale if that is

[2017-01-24 13:44] aquynh commented on #719
is winsock a part of the MS runtime? if so, that does not require extra dependency, thus not a big deal?

[2017-01-24 13:47] xorstream commented on #719
It's a separate dll afaik and requires init() and exit() calls in your app before you can call any socket functions.

[2017-01-24 20:52] dummys commented on #732
Yes I installed lib32-python2 from the AUR repository package...

[2017-01-24 22:15] Nukem9 commented on #719
Windows will default to somewhere around 10-16ms sleep granularity unless if you use timeBeginPeriod(1);

Using the syscall NtDelayExecution will get you 100ns intervals.

Is it possible to use high precision timers/a spinloop to get microsecond scale? I don't know how compatible unicorn would be with it.

[2017-01-24 22:27] cseagle commented on #719
In all honesty, what is the use case for high precision timers in an emulation environment anyway? The only place unicorn takes a timeout value is in uc_emu_start. Is it really the case that millisecond precision is a degradation here? I argue that a) this only presents on Windows and b) it's so insignificant as to not matter.

[2017-01-25 02:52] xorstream commented on #719
I liked @Nukem9 's idea about using NtDelayExecution(), it seemed like it would be a nice fix for microsecond sleeps. However upon looking into it, it appears I need to link with ntdll.lib which is only present in the Windows DDK. This is not a limitation I would want to impose upon people trying to build unicorn using MSVC. It might also be possible to load ntdll.dll by calling LoadLibrary and th

[2017-01-25 02:56] dandonov commented on #737
Does anyone know how much work would be needed to fix this issue? I'd try to do it myself if somebody points me to the right direction. Thanks in advance!

[2017-01-25 03:04] cseagle commented on #719
Don't link to ntdll.lib.

If you want anything from ntdll, do it at runtime. It's just two function calls LoadLibrary/GetProcAddress and then you have the function pointer you need. That's not complicated and will work for anyone using Visual Studio.

I stand by my assertion that precision timers in an emulator don't make much sense and that millisecond (even 10 or 20 ms) resolution is fine. So Se

[2017-01-25 05:14] aquynh commented on #719
this now compiles to **unicorn.dll**, **unicorn.lib** & **unicorn_static.lib**.
meanwhile, Msys2 cross-compile produces **unicorn.dll**, **unicorn.lib** & **unicorn.a**. we should be consistent here. @rhelmot, do you have any comments?